html,
body,
#appDiv {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	border: 0;
	padding: 0;
	margin: 0;
}

:root {
	--main-bg-color: #ffffff;
	--hover-bg-color: #8cc0f2;
	--main-border-color: #759dc0;
	--button-bg-color: #bcd8f4;
	--button-hover-color: #8cc0f2;
	--title-bg-color: #efefef;
	--main-text-color: #000000;
	--elem-text-color: #000000;
	--link-color: #007bff;
	--section-border-color: #b5bcc7;
}

element {
	--title-bg-color: #efefef;
}

iframe {
	width: 100%;
	border: none;
	height: 100%;
}

.myTheme .dijitDialogPaneContent {
	background-color: var(--main-bg-color) !important;
}

.myTheme .dijitTitlePaneContentOuter {
	background-color: var(--main-bg-color) !important;
}


.myTheme .dijitTab {
	background-color: var(--title-bg-color) !important;
}

.myTheme .dijitTabHover {
	background-color: var(--hover-bg-color) !important;
}

.myTheme .dijitContentPane {
	background-color: var(--main-bg-color) !important;
}

.myTheme .dijitButtonNode {
	border-color: var(--main-border-color) !important;
	background-color: var(--button-bg-color) !important;
}

.myTheme .dijitButtonHover .dijitButtonNode {
	background-color: var(--button-hover-color) !important;
}

.myTheme .dijitDialogTitleBar {
	background-color: var(--title-bg-color) !important;
}

.myTheme .dijitDialog {
	border-color: var(--main-border-color) !important;
}

.myTheme .dijitTitlePaneTitleOpen,
.myTheme .dijitTitlePaneTitleFixedOpen {
	background-color: var(--title-bg-color) !important;
}

.myTheme .dijitCalendar {
	background-color: var(--title-bg-color) !important;
}

.myTheme .digitCalendarHoveredDate {
	background-color: var(--hover-bg-color) !important;
}

.myTheme .dijitCalendarSelectedDate .dijitCalendarDateLabel {
	background-color: var(--title-bg-color) !important;
	border-color: var(--main-border-color) !important;
}

.myTheme .dijitCalendarPreviousMonth,
.myTheme .dijitCalendarNextMonth {
	background-color: var(--title-bg-color) !important;
	background-image: none;
	border-bottom-color: var(--main-border-color) !important;
}

.myTheme .dijitSelectLabel,
.claro .dijitTextBox .dijitInputInner,
.claro .dijitValidationTextBox .dijitValidationContainer {
	color: var(--elem-text-color) !important;
}

.myTheme {
	color: var(--main-text-color) !important;
}

.myTheme .dijitSelectDisabled .dijitArrowButtonInner {
	background-color: #efefef !important;
}

.myTheme .dijitSelectDisabled .dijitArrowButtonContainer,
.myTheme .dijitComboBoxDisabled .dijitArrowButtonContainer {
	border: 1px solid #b5bcc7 !important;
	background-color: #efefef !important;
}

.myTheme .dgrid-header,
.dgrid-header-row,
.dgrid-footer {
	background-color: var(--title-bg-color) !important;
}

.myTheme .dgrid-hider-menu {
	background-color: var(--main-bg-color) !important;
}

.claro .dijitTreeRow {
	color: var(--main-text-color) !important;
	border: none;
}

.myTheme .dijitTreeRowHover,
.myTheme .dijitTreeRowSelected {
	background-color: var(--hover-bg-color) !important;
}

.myTheme .dijitTreeRowHover font,
.myTheme .dijitTreeRowSelected font {
	color: var(--main-text-color) !important;
}

a {
	color: var(--link-color);
}

.myTheme .dijitInlineEditBoxDisplayMode {
	background-color: var(--main-bg-color) !important;
}

.headerTitle {
	background-color: var(--main-bg-color) !important;
}

.changePasswordNote {
	border: 1px solid var(--main-text-color) !important;
	padding: 10px;
}

.myTheme .dgrid-row.dgrid-selected .dgrid-row-table {
	background-color: var(--hover-bg-color) !important;
	font-weight: bold;
}

.claro .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .dijitButtonText {
	color: var(--main-bg-color) !important;
}

.myTheme .emailData {
	background-color: var(--title-bg-color) !important;
}

.myTheme .dgrid-row-expanded {
	background-color: var(--title-bg-color) !important;
}

.myTheme .dijitPopup .dijitMenuItem td {
	background-color: var(--title-bg-color) !important;
	color: var(--main-text-color) !important;
	font-weight: bold !important;
}

.myTheme .dijitPopup .dijitMenuItemHover td {
	background-color: var(--hover-bg-color) !important;
	color: var(--main-text-color) !important;
	font-weight: bold !important;
}

.myTheme .dijitPopup .dijitMenuItem {
	background-color: var(--title-bg-color) !important;
	color: var(--main-text-color) !important;
	font-weight: bold !important;
}

.myTheme .dgrid-row-table th:hover {
	background-color: var(--hover-bg-color) !important;
}

label {
	display: block;
	width: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.rmargin {
	margin-right: 5%;
}

.clear {
	clear: both;
}

.messageWindow .dijitDialog {
	/* height: 22%!important; */
	width: 28% !important;
	z-index: 10000 !important;
}

.messageWindow .dijitDialogPaneContent {
	height: 90%;
	padding-top: 0% !important;
	padding-right: 0% !important;
	/* padding-bottom: 0%!important; */
}

.confirmDialog .dijitDialog {
	height: 12em !important;
	width: 35em !important;
}

.confirmDialog .dijitDialogPaneContent {
	height: 100% !important;
}

.createTicket {
	width: 550px !important;
}

.label-right {
	text-align: right;
	padding-right: 10px;
}

.label-right-labelCell {
	text-align: right;
	padding-right: 10px;
}

.contentDialog .dijitDialog {
	height: 22em !important;
	width: 35em !important;
}

.contentDialog .dijitDialogPaneContent {
	height: 100% !important;
}

.dgrid {
	margin-right: 5%;
}

.dijitSelectLabel {
	text-align: left;
	overflow: hidden;
}

.dijitButton {
	margin: 0em !important;
}

.divRadio {
	margin-bottom: 3px;
}

.radio-inline {
	margin-top: 10px;
	display: inline-block;
	padding-right: 10px;
}

.radio-inline label {
	display: inline-block;
	padding-right: 10px;
}

.half {
	width: 44%;
}

fieldset {
	padding: 10px;
	border: 2px groove threedface;
	width: 95%;
}

th {
	font-weight: bold;
}

.title {
	color: #000000;
	margin-left: 1em;
	font-size: 12pt;
	font-weight: bold;
	font-family: "Times New Roman";
	padding: 0.5em;
}

.fieldLabelLeft {
	color: #000000;
	/* margin-right: 1em; */
	font-weight: bold;
	font-family: "Times New Roman";
	float: left;
	padding: 0.4em;
	padding-top: 0.4em;
}

.cboth {
	clear: both
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	color: #ff0000;
	background-color: yellow;
}

.tableContainer-labelCell {
	font-weight: bold;
}

/*Loading*/

.reloadIcon {
	background-image: url('../images/reload.png');
	height: 16px;
	width: 16px;
	background-size: cover;
	border-radius: 50%;
}

.bookIcon {
	background-image: url('../images/book-open-icon.png');
	height: 16px;
	width: 16px;
}

.threeDotsIcon {
	background-image: url('../images/3dots-trans.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.arrowIcon {
	width: 15px;
	height: 15px;
	margin: 0 auto;
	background-image: url(../dijit/themes/claro/form/images/buttonArrows.png);
	background-repeat: no-repeat;
	background-position: -51px 53%;
	float: right;
}

.nonModal_underlay {
	display: none;
}

.zoomInIcon {
	background-image: url('../images/zoom-in.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.zoomOutIcon {
	background-image: url('../images/zoom-out.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.saveIcon {
	background-image: url('../images/save.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.resetIcon {
	background-image: url('../images/reset.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.playIcon {
	background-image: url('../images/play.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.pauseIcon {
	background-image: url('../images/pause.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.trashIcon {
	background-image: url('../images/trash.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.themeIcon {
	background-image: url('../images/themes-icon.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.tooltipIcon {
	background-image: url('../images/tooltip.gif');
	height: 20px;
	width: 20px;
	background-size: contain;
}

.onIcon {
	background-image: url('../images/button-on-off-switch-on.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.offIcon {
	background-image: url('../images/button-on-off-switch-off.png');
	height: 16px;
	width: 16px;
	background-size: contain;
}

.tooltipList ul {
	margin-top: 1px;
	margin-bottom: 5px;
}

/* for reducing the font size in Send Media Product Selection grids */

.alertMessage {
	left: 386px;
	top: 200px;
	z-index: 950;
	position: absolute;
}

.lightBlue .dijitDialogPaneContent {
	background-color: #f0f5f6 !important;
}

.lightBlue .dijitTab {
	background-color: #abd6ff !important;
}

.lightBlue .dijitContentPane {
	background-color: #f0f5f6 !important;
}

.lightBlue .dijitTabHover {
	background-color: #86bdf2 !important;
}

.lightBlue .dijitTitlePaneContentOuter {
	background-color: #f0f5f6 !important;
}

.lightGreen .dijitDialogPaneContent {
	background-color: #f1fff0 !important;
}

.lightGreen .dijitTitlePaneContentOuter {
	background-color: #f1fff0 !important;
}

.lightGreen .dijitTab {
	background-color: #7ec58a !important;
}

.lightGreen .dijitTabHover {
	background-color: #7def72 !important;
}

.lightGreen .dijitContentPane {
	background-color: #f1fff0 !important;
}

.lightGreen .dijitButtonNode {
	border-color: #75c077 !important;
	background-color: #7ec58a !important;
}

.lightGreen .dijitButtonHover .dijitButtonNode {
	background-color: #7def72 !important;
}

.lightGreen .dijitDialogTitleBar {
	background-color: #7ec58a !important;
}

.lightGreen .dijitDialog {
	border-color: #75c077 !important;
}

.lightGreen .dijitTitlePaneTitleOpen {
	background-color: #84c78f !important;
}

.dojoxCheckedMultiSelectHidden {
	display: none !important;
}

.dijitTooltip {
	max-width: 50em;
}

.dgrid-cell {
	vertical-align: middle !important;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lingogrid .dgrid-cell {
	text-align: center !important;
	text-overflow: unset;
	white-space: nowrap;
}

.hierarchy-grid {
	height: 90%;
}

.ldesk-auto-grid {
	height: 90%;
}

.hierarchy-grid .dgrid-cell {
	text-align: center !important;
	text-overflow: unset;
	white-space: normal;
}

.hierarchy-grid .dgrid-column-0 {
	text-align: left !important;
	font-weight: bold;
}

.current-badge {
	/* background-color: ivory; */
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid;
	border-radius: 10px;
	margin-left: 10px;
}

.dgrid-no-data,
.dgrid-loading {
	color: #aaa;
	font-size: 1.5em;
	padding: 1.4em;
	text-align: center;
}


/*
.mjTicketTable-valueCell-0 {
	width: 100% !important;
}
.mjTicketTable-valueCell-1 {
	width: 100% !important;
}
.mjTicketTable-valueCell-2 {
	width: 100% !important;
}
*/

.notification-bar {
	width: 100%;
	height: 16px;
	text-align: center;
	background-color: green;
	font-size: 12px;
	font-weight: bold;
}

.bg-lightgreen {
	background-color: lightgreen !important;
}

.bg-green {
	background-color: green !important;
}

.bg-orange {
	background-color: orange;
}

.bg-orangered {
	background-color: orangered;
}

.bg-yellow {
	background-color: yellow;
}

.bg-lightyellow {
	background-color: #FFFFB0;
}

.bg-red {
	background-color: orangered;
}

.bg-blue {
	background-color: #32efdd;
}

.bg-gray {
	background-color: darkgray;
}

.bg-azure {
	background-color: azure;
}

.bg-white {
	background-color: white;
}

.bg-brown {
	background-color: #d27a3d;
}

.bg-black {
	background-color: black;
}

.big-dialog {
	width: 900px !important;
	top: 25px !important;
}

.big-dialog .dijitDialogPaneContent {
	width: 98% !important;
}

.lg-dialog {
	width: 90% !important
}

.top-dialog {
	top: 25px !important;
}

.muli-renewal-dlg .dijitDialogPaneContent {
	width: 98% !important;
}

.dgrid-header,
.dgrid-header-row {
	background-color: #cfe5fa !important;
	background-color: #ddd !important;
}

.dgrid-header .dgrid-cell {
	border: 1px solid #FFF !important;
}

#controlPanelTabContainer div[role=tablist] {
	width: 100% !important;
	height: 28px;
}

#adminPanelTabContainer div[role=tablist] {
	width: 100% !important;
	height: 28px;
}

div[role=tablist] {
	height: 28px;
}

.ldesk-search-tbl-1-valueCell-0 {
	width: 85% !important;
}

.ldesk-search-tbl-labelCell {
	width: 18% !important;
	text-align: right;
	padding-right: 3px;
}

.ldesk-search-tbl-valueCell {
	width: 20% !important;
}

.ldesk-search-tbl-valueCell .dijit {
	width: 100% !important;
}

.reload-btn .dijitButtonNode {
	border-radius: 50% !important;
}

.circle-icon .dijitButtonNode {
	padding: 0px !important;
	border-radius: 50% !important;
}

.acct-details-tbl-1-valueCell-0 {
	width: 70% !important;
}

.acct-details-tbl-valueCell .dijit {
	width: 95% !important;
}

.acct-details-tbl-valueCell-1,
.acct-details-tbl-valueCell-3,
.acct-details-tbl-valueCell-5,
.acct-details-tbl-valueCell-7 {
	width: 10% !important;
}

.acct-details-tbl-labelCell {
	width: 22% !important;
	text-align: right;
	padding-right: 10px;
}

.dgrid-row-expanded {
	background-color: #FBFBF0;
}

.ld-circle,
.ld-circle:active,
.ld-circle:hover,
.ld-circle:link,
.ld-circle:visited {
	display: inline-block;
	padding: 0px 0 0px;
	text-align: center;
	margin: 0;
	font-size: 15px;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	border: 1px solid grey;
	width: 24px;
	height: 24px;
	color: grey;
	background-color: #fff
}

.ld-circle.ld-delete {
	font-size: 17px;
	color: red
}

.small-circle-btn-div {
	width: 12px !important;
	height: 12px !important;
	line-height: 9px;
	cursor: pointer;
}

.tbl-border {
	border: 1px solid black;
	border-collapse: collapse
}

.tbl-border th {
	border: 1px solid black;
	padding: 5px;
}

.tbl-border td {
	border: 1px solid black;
	padding: 5px;
}

.summary-total {
	font-weight: bold;
	background: #e7f1fb;
	border: 1px solid #f6f6f6;
}

.md-dialog {
	width: 50% !important
}

.sm-dialog {
	width: 25% !important
}

.text-color-red {
	color: red;
}

.v-btn-grp {
	padding-bottom: 3px;
	width: 100%;
	text-align: center
}

.action-btn {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px
}

.action-btn div {
	padding-bottom: 3px;
	width: 100%;
	text-align: center
}

.required label:after {
	color: #e32;
	content: ' *';
	display: inline;
}

label:has(req)::after {
	content: " *";
	color: red;
}

.ldesk-tbl-valueCell {
	padding-bottom: 10px;
	vertical-align: top;
}

.ldesk-tbl-valueCell .dijitContentPane {
	padding: 0px;
}

.case-tbl-valueCell {
	padding-bottom: 10px;
	vertical-align: top;
}

.case-tbl-valueCell .dijitContentPane {
	padding: 0px;
}

.case-tbl-labelCell {
	width: 25% !important;
}

.center {
	text-align: center;
}

.dojoxCheckedMultiSelect .dijitMenuTable {
	/* fix some rendering issue menu item width table*/
	width: 100%;
}

.dojoxCheckedMultiSelectMenu {
	/* set scroll-x to scroll and hide y scroll bare*/
	overflow: hidden scroll !important;
	/* set max height for dropdown menu */
	max-height: 150px !important;
}

.dgrid-selected {
	background-color: #bfd6eb;
}

.add-to-tbl-valueCell {
	vertical-align: bottom;
}

.blink {
	animation: blinker 1.5s linear 10;
	color: red;
	font-size: 1.5em;
	/* Larger, responsive font size */
	margin-bottom: 20px;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.marquee {
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
	padding-left: 100%;
	animation: marquee 60s linear infinite;
}


@keyframes marquee {

	0% {
		left: 100%;
	}

	100% {
		left: 0;
		transform: translateX(-100%);
	}

}

.dijitTooltipDialog {
	outline: none
}

.dashboard-item {
	/* border: 1px solid #b5bcc7; */
	height: 94%;
	width: 98%;
	display: flex;
	text-align: -webkit-center;
	margin: 0px;
	flex-direction: column;
	padding: 5px;
}

.dashboard-img {
	width: 100%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-label {
	margin-top: 10px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.wdr-credits {
	display: none !important;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}


.fm-branding-bar {
	display: none !important;
}

.grid-stack {
	background: #fcfcfb;
}

.grid-stack-item-content {
	border: 1px solid #b5bcc7;
}

.report-total {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5vw;
}

.dijitDialogCloseIcon {
	display: inline;
}

.green-dot {
	height: 8px;
	width: 8px;
	background-color: green;
	border-radius: 50%;
	display: inline-block;
	margin-right: 8px;
}

.red-dot {
	height: 8px;
	width: 8px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	margin-right: 8px;
}

.grey-dot {
	height: 8px;
	width: 8px;
	background-color: grey;
	border-radius: 50%;
	display: inline-block;
	margin-right: 8px;
}

.access-checkbox {
	padding-top: 5px;
	display: inline-flex;
	width: 20%;
}


/*
#fm-pivot-view .fm-grid-layout .fm-empty {
	border-color: transparent !important;
}

#fm-pivot-view .fm-grid-layout #fm-data-sheet {
	border-top-color: transparent !important;
}
*/
/*
#wdr-pivot-view .wdr-grid-layout .wdr-empty {
	border-color: transparent !important;
}

#wdr-pivot-view .wdr-grid-layout #wdr-data-sheet {
	border-color: transparent !important;
}
	*/


/* main classes for dojox.widget.Toaster */

.dijitToasterContent {
	padding: 1em;
	padding-top: 0.25em;
	background: #73c74a;
}

.dijitToasterMessage {
	color: #fff;
}

.dijitToasterWarning,
.dijitToasterError,
.dijitToasterFatal {
	font-weight: bold;
	color: #fff;
}

.dijitToasterWarning .dijitToasterContent {
	background: #d4d943;
}

.dijitToasterError .dijitToasterContent {
	background: #c46600;
}

/* imported from dijit.css */

.dijitToasterClip {
	position: absolute;
	z-index: 5000;
	overflow: hidden;
}

.dijitToasterContainer {
	display: block;
	position: absolute;
	width: 17.5em;
	margin: 0px;
	font: 0.75em;
}

.dijitTabContent {
	display: flex;
	justify-content: space-between;
}

.avatar-icon {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 1px solid;
	object-fit: fill;
}

.avatar-preview {
	width: 250px;
	height: 250px;
	border: 1px solid;
	border-radius: 50%;
	object-fit: fill;
}

.user-details {
	text-align: right;
	padding-right: 10px;
}

.user-details-labelCell {
	width: 25% !important;
	text-align: right;
	padding-right: 10px;
}

.user-name-div {
	padding-left: 5px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.bulk-edit-container {
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	height: 100%;
}

.bulk-edit-wrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	align-items: stretch;
	height: 100px;
}

.bulk-edit-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
}

.bulk-edit-panel .dijitTitlePane {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.bulk-edit-panel .dijitTitlePaneTitle {
	font-weight: bold;
}

.bulk-edit-panel .dijitTitlePaneContentOuter,
.bulk-edit-panel .dijitTitlePaneContentInner {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.bulk-edit-actions {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 10px;
	justify-content: space-evenly;
}

.section-titlepane {
	width: 100%;
	box-sizing: border-box;
}

.section-titlepane .dijitTitlePaneTitle {
	font-weight: bold;
}

.collection-dialog {
	width: 40%;
	background-color: white;
}

.collection-section {
	display: block;
	padding: 10px;
}

.aging-info-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
	row-gap: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--section-border-color);
}

.info-row {
	padding-left: 10px;
	display: flex;
	align-items: center;
}

.info-row span {
	padding-left: 5px;
}

.case-section {
	display: block;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--section-border-color);
	margin-top: 10px;
}

.collection-case .dijitTitlePaneTitle {
	font-weight: bold;
}

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: stretch;
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 0px;
	justify-content: space-between;
}