<div class="${baseClass}">
	<div data-dojo-type="dojox/widget/TitleGroup" id="searchUser" data-dojo-attach-point="searchUserTg">
		<div>
			<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Lingo Account is</b>',toggleable: false" selected="true" data-dojo-attach-point="searchTitlePane" style="padding-top: 1%;margin-left: 0%;">
				<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3, orientation:'vert',spacing:2,customClass:'ldesk-tbl'" style="width:99%;height:100%;padding-left:2%">
					<div data-dojo-type="dijit.form.TextBox" title="App ID" data-dojo-attach-point="appId" id="app_id" data-dojo-props="disabled:true,readOnly:true"> </div>
					<div data-dojo-type="dijit.form.TextBox" title="Parent App ID" data-dojo-attach-point="parentAppId" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Top Parent App ID" data-dojo-attach-point="TopparentAppId" id="top_parent_app_id" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit/form/TextBox" data-dojo-props="readOnly: true,disabled:true" title="Account Name" id="account_name_acc" data-dojo-attach-point="accountName"> </div>
					<div data-dojo-type="dijit.form.TextBox" title="Account Manager" data-dojo-attach-point="accManager" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="CRM Name" data-dojo-attach-point="crmName" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Status" data-dojo-attach-point="status" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Billing Cycle" data-dojo-attach-point="billingCycle" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Pay By App Id" data-dojo-attach-point="paybyAccountId" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Created Date" data-dojo-attach-point="createdDate" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Service Start" data-dojo-attach-point="servicestart" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Modified Date" data-dojo-attach-point="modifiedDate" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Billing System" data-dojo-attach-point="billingsystem" id="billing_system" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Sales Rep Id" data-dojo-attach-point="salesrepId" data-dojo-props="disabled:true"></div>
					<div data-dojo-type="dijit.form.TextBox" title="Location Address" data-dojo-attach-point="locAddress" style="width:390px" data-dojo-props="disabled:true"></div>
				</div>
				<div style="text-align:center;margin-top:20px">
					<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="accountDetailsViewBtn" id="accountDetailsViewBtn" disabled>View Details</button>
				</div>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/Dialog" title="Matching Accounts" data-dojo-props="destroyOnClose : true,closable: true" id="showAccDialog" data-dojo-attach-point="multiAccDlg" style="width:70%;">
		<div data-dojo-attach-point="multiAccDiv" style="width:100%"></div>
		<div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="openBtn" type="button">Open</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn" type="button">Close</button>
		</div>
	</div>
</div>