<div class="${baseClass}" style="height: 100%;width: 100%;">
	<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="accParForm" action="">
		<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:4,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" data-dojo-attach-point="accParFormTable" style="height: 150px">

			<div data-dojo-type="dijit/form/ValidationTextBox" title="Account Name" data-dojo-attach-point="topParentAccountName"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="topParAppId" title="Account Id" data-dojo-props="disabled:true"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Top Parent Account Name" data-dojo-attach-point="lev2ParAccountName"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Top Parent Account Id" data-dojo-attach-point="parTopParAppId"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Sales Rep Id" data-dojo-attach-point="parSalesRepId"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Account Type" data-dojo-attach-point="parAccountType"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Crm User" data-dojo-attach-point="parCrmUser"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Account Manager" data-dojo-attach-point="parAccManager"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Bill Cycle" data-dojo-attach-point="parBillCycle"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Pay Type" data-dojo-attach-point="parPayType"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Pay By App ID" data-dojo-attach-point="parPayByAppId"></div>
		</div>

	</div>
</div>