<div class="${baseClass}">
	<div data-dojo-type="dijit/Dialog"  class="mjNotes" data-dojo-attach-point="notesDialog" title="Add Note" style="width:300px;height:100%">
		                
        <label><b>Note Text</b></label>
                  
            		<div data-dojo-type="dijit/form/SimpleTextarea" title="Note Text" data-dojo-attach-point = "noteText" rows="10" style="width:90%"> </div>
		
		 <div class="dijitDialogPaneActionBar" style="text-align:center">
		 	<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="submitNotes" >Submit</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelBtn" type="button">Cancel</button>
		</div>
	</div>
</div>

