<div class="${baseClass}">

	<div data-dojo-type="dijit/TitlePane" title="<b>Queues</b>" data-dojo-props="toggleable: false, open:true" style="overflow-y: auto;">
		<div data-dojo-attach-point="queueGridDiv" style="width: 100%;"></div>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="userDlg" title="Queue User List" style="width:80%;">
		<div class="dijitDialogPaneContentArea">
			<div data-dojo-attach-point="userGridDiv" style="width: 100%;"></div>
		</div>
		<div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelUsrDlgBtn" type="button">Close</button>
		</div>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="caseDlg" title="Queue Case List" style="width:80%;">
		<div class="dijitDialogPaneContentArea">
			<div data-dojo-attach-point="caseGridDiv" style="width: 100%;"></div>
		</div>
		<div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelCaseDlgBtn" type="button">Close</button>
		</div>
	</div>
</div>