<div class="${baseClass}">
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="editUser" data-dojo-props="destroyOnClose : true,closable: true" style="width: 900px" title="Edit User">
		<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="editUserForm">
			<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
				<div data-dojo-type="dijit.form.TextBox" title="User Name" data-dojo-attach-point="loginName" data-dojo-props="disabled:true" value="${userInfo.loginName}"> </div>
				<div data-dojo-type="dijit.form.TextBox" title="Status" data-dojo-attach-point="status" data-dojo-props="disabled:true" value="${userInfo.status}"> </div>
				<div data-dojo-type="dijit/form/ValidationTextBox" title="Full Name" data-dojo-attach-point="fullName" data-dojo-props="missingMessage:'Please enter Full Name',tooltipPosition:['after']" required="true" value="${userInfo.fullName}"></div>
				<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Office" data-dojo-attach-point="officeSelect" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=false required="true" style="width: 200px;"> </div>
				<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="intermediateChanges:true, regExp:dojox.validate.regexp.emailAddress, invalidMessage:'Invalid Email', tooltipPosition:['below']" title="Email Address" style="width: 15em;" required="true" data-dojo-attach-point="emailAddress" value="${userInfo.emailAddress}"></div>
				<div data-dojo-type="dijit.form.TextBox" title="Phone Extension" data-dojo-attach-point="phone" value="${userInfo.phoneExtension}"> </div>
				<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Shift Group" data-dojo-attach-point="shiftGroup" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=false required="true" style="width: 200px;" placeholder="Select a Shift Group">
				</div>
				<div data-dojo-type="dijit.form.TextBox" title="Field Nation User Id" data-dojo-attach-point="fnUserId"> </div>
				<div data-dojo-type="dijit.form.TextBox" title="Telcare User Id" data-dojo-attach-point="tcUserId"> </div>
				<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Profile" data-dojo-attach-point="profileSelect" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=false required="true" style="width: 200px;" placeholder="Select a Profile">
				</div>
			</div>
			<div class="dijitDialogPaneActionBar" style="text-align:center">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="cancelButton">Cancel</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="submitBtn">Submit</button>
			</div>
		</div>
	</div>
</div>