<div class="${baseClass}">
	<div data-dojo-type="dijit/layout/TabContainer" style="height:100%;width:98%;" data-dojo-attach-point="adminPanelTabContainer" id="adminPanelTabContainer">
		<!--<div data-dojo-type="dijit/layout/TabContainer" title="Admin"  data-dojo-attach-point="adminTab">-->
		<div data-dojo-type="dijit/layout/ContentPane" title="Manage Users" data-dojo-attach-point="usersTab" style="overflow-y: scroll;">
			<div data-dojo-type="app/widgets/adminUser" data-dojo-attach-point="adminUser" style="height:100%" data-dojo-props="lingoController: this.lingoController"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" title="Category" data-dojo-attach-point="categoryTab">
			<div data-dojo-type="app/widgets/adminCategory" data-dojo-attach-point="adminCategory" data-dojo-props="lingoController: this.lingoController"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" title="Group" data-dojo-attach-point="groupsTab">
			<div data-dojo-type="app/widgets/adminGroup" data-dojo-attach-point="adminGroup" data-dojo-props="lingoController: this.lingoController"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" title="Queue" data-dojo-attach-point="queueTab" data-dojo-attach-event='onShow: initAdminQueue'>
			<div data-dojo-type="app/widgets/adminQueue" data-dojo-attach-point="adminQueue" data-dojo-props="lingoController: this.lingoController"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" title="Profile" data-dojo-attach-point="profileTab" data-dojo-attach-event='onShow: initAdminProfile'>
			<div data-dojo-type="app/widgets/adminProfile" data-dojo-attach-point="adminProfile" data-dojo-props="lingoController: this.lingoController"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" title="Active Users" data-dojo-attach-point="activeUsersTab" data-dojo-attach-event='onShow: initActiveUsers'>
			<div data-dojo-type="app/widgets/activeUsers" data-dojo-attach-point="activeUsers" data-dojo-props="lingoController: this.lingoController"></div>
		</div>
	</div>

</div>