<div class="${baseClass}">

	<style type="text/css">
		.searchtable-valueCell {
			padding-bottom: 0.4em;
		}

		.center {
			text-align: center;
		}
	</style>

	<div data-dojo-type="dojox/widget/TitleGroup">
		<div data-dojo-type="dijit/Fieldset" data-dojo-props="toggleable:false" style="margin-top: 1em; padding-bottom: 2px;width: 47%;display: inline-block;height: 80%">
			<legend><b>Category</b> </legend>
			<div data-dojo-attach-point="newCategoryDiv" style="width: 100%">
				<div data-dojo-type="dijit/form/Form" id="newCategoryForm" data-dojo-attach-point="newCategoryForm" encType="multipart/form-data" action="" method="" novalidate autocomplete="off" style="padding-top: 15px">
					<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2, orientation:'vert', spacing:2,customClass:'searchtable'">

						<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Group" data-dojo-attach-point="newGroupSelect" data-dojo-props="labelAttr:'id',labelType:'text'" sortByLabel=true required="true" style="width: 200px;max-height: 100px">
							<option value="" selected hidden>--Select a Group--</option>
							<!--                                    <option value = "Billing">Billing</option>-->
						</div>
						<div data-dojo-type="dijit/form/TextBox" class="required" data-dojo-props="intermediateChanges:true" name="category" title="Category" data-dojo-attach-point="new_category" value="" required="true"></div>
						<div data-dojo-type="dijit/form/TextBox" class="required" data-dojo-props="intermediateChanges:true" name="type" title="Type" data-dojo-attach-point="new_type" value="" required="true"></div>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="subtype" title="Subtype" data-dojo-attach-point="new_subtype" value=""></div>
						<div data-dojo-type="dijit/form/FilteringSelect" title="Support Level" data-dojo-attach-point="newSupportSelect" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=false required="true" style="width: 200px;">
							<option value="First">First</option>
							<option value="Second">Second</option>
							<option value="Third">Third</option>
							<option value="Fourth">Fourth</option>
							<option value="Manager">Manager</option>
							<option value="Nobody">Nobody</option>
						</div>

						<div data-dojo-type="dijit.layout.ContentPane" name="status" title="Status" data-dojo-attach-point="new_status" value="" class="radio-inline" style="padding: 0;margin: 0">
							<label><input name="status" type="radio" data-dojo-type="dijit/form/RadioButton" title="Active" value="Active" data-dojo-attach-point="newstatus_active" style="margin-right: 5px ">Active</label>
							<label><input name="status" type="radio" data-dojo-type="dijit/form/RadioButton" title="InActive" value="Inactive" data-dojo-attach-point="newstatus_inactive" style="margin-right: 5px ">InActive</label>
						</div>
						<div class="left" name="categoryComment" title="Comments" data-dojo-type="dijit/form/SimpleTextarea" rows="9" style="width:200px; height: 100px;resize:none;" data-dojo-attach-point="categoryComment">
						</div>
					</div>


					<br>
					<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2, orientation:'vert', spacing:2,customClass:'searchtable'" style="padding-top: 20px">
						<div data-dojo-type="dijit/form/TextBox" class="required" data-dojo-props="intermediateChanges:true" data-dojo-attach-point="newCat_createdBy" name="createdBy" title="Created By" value="${loginName}" disabled></div>
						<div data-dojo-type="dijit/form/TextBox" class="required" data-dojo-props="intermediateChanges:true" data-dojo-attach-point="newCat_createdDate" name="createdDate" title="Created Date" value="${current_time}" innerHTML="" disabled></div>
						<div data-dojo-type="dijit/form/TextBox" class="required" data-dojo-props="intermediateChanges:true" data-dojo-attach-point="newCat_modifiedBy" name="modifiedBy" title="Modified By" value="${loginName}" disabled></div>
						<div data-dojo-type="dijit/form/TextBox" class="required" data-dojo-props="intermediateChanges:true" data-dojo-attach-point="newCat_modifiedDate" name="modifiedDate" title="Modified Date" value="${current_time}" innerHTML="" disabled></div>
					</div>
					<br>
					<div style="text-align:center; display:block; padding-top: 10px">
						<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="newCategoryBtn" action="category-create">Create New</button>
						<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="searchCategoryBtn">Search</button>
						<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetCategoryBtn">Reset</button>
						<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="updateCategory" disabled action="category-edit">Update</button>
					</div>



				</div>
			</div>
		</div>

		<div data-dojo-type="dijit/Fieldset" data-dojo-props="toggleable:false" style="margin-top: 1em; padding-bottom: 2px;width: 47%;display: inline-block;height: 80%;vertical-align: top">
			<legend><b>Category Search Results</b> </legend>
			<div data-dojo-attach-point="categorySearchDiv" style="height: 440px;width: 100%"></div>
		</div>

	</div>

</div>