<div class="${baseClass}">
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="caseEventDetailsForm" action="">
        <div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="caseEventDetailsTable" data-dojo-props="cols:4,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="createdBy" title="Created By" data-dojo-attach-point="createdBy" allowedTypes="I,Q,N,E,C"></div>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="createdDate" title="Date/Time Opened" allowedTypes="E,C"></div>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="modifiedDate" title="Last Modified Date/Time" allowedTypes="I,Q,N,E"></div>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="modifiedBy" title="Modified By" data-dojo-attach-point="modifiedBy" allowedTypes="I,Q,N,E,C"></div>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="totalOpenTime" title="Total Open Time(in Hrs)" data-dojo-attach-point="totalOpenTime" allowedTypes="I,Q,N,E"></div>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="closedBy" title="Closed By" data-dojo-attach-point="closedBy" allowedTypes="I,Q,N,E,C"></div>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="ackBy" title="Acknowledged By" data-dojo-attach-point="ackBy" allowedTypes="I,Q,N,E"></div>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="caseOrigin" title="Case Origin" data-dojo-attach-point="origin" allowedTypes="E,C"></div>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="Closed Date" title="Closed Date" data-dojo-attach-point="closedDate" allowedTypes="C"></div>
        </div>
    </div>

</div>