<div class="${baseClass}">
    <div data-dojo-type="dojox/widget/TitleGroup" data-dojo-attach-point="titleGroup" style="width: 99%;height: 99%;">
        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Case Status Changes</b>',open:true" data-dojo-attach-point="caseRelatedStatusChangePanel">
            <div data-dojo-attach-point="caseRelatedStatusChangediv" style="width: 99%;height:220px"></div>
        </div>
        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Escalation Requests</b>',open:true" data-dojo-attach-point="caseRelatedEscReqPanel">
            <div data-dojo-attach-point="caseRelatedEscReqdiv" style="width: 99%;height:220px"></div>
        </div>
        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Related Cases</b>',open:true" data-dojo-attach-point="caseRelatedReqPanel">
            <div data-dojo-attach-point="caseRelatedReqdiv" style="width: 99%;height:190px"></div>
        </div>
        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Case History</b>',open:true" data-dojo-attach-point="caseHistoryPanel">
            <div data-dojo-attach-point="caseRelatedHistorydiv" style="width: 99%;height:220px"></div>
        </div>
    </div>
</div>