<div>
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="caseLocationForm" action="">
        <div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="caseLocationTable" data-dojo-props="cols:4,orientation:'vert',spacing:3,customClass:'ldesk-tbl'">
            <div data-dojo-type="dijit/form/SimpleTextarea" title="Service Address${reqLabel}" data-dojo-attach-point="serviceAddress" data-dojo-props="missingMessage:'Please enter Service Address',tooltipPosition:['after'],rows:3" style="width:250px" data-dojo-attach-event="click: setServAdd" required="false"></div>
            <div data-dojo-type="dijit/layout/ContentPane" title="Address Line1${reqLabel}" data-dojo-attach-point="addLine1" style="display: inline;">
                <div><textarea data-dojo-type="app/view/ValidationTextarea" maxLength="100" title="Address Line1${reqLabel}" data-dojo-attach-point="addressLine1" data-dojo-props="rows:2,disabled:true" style="width: 250px;" required="false"></textarea>
                </div>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" title="Address Line2" data-dojo-attach-point="addLine2" style="display: inline;">
                <div><textarea data-dojo-type="app/view/ValidationTextarea" maxLength="100" title="Address Line2" data-dojo-attach-point="addressLine2" data-dojo-props="rows:2,disabled:true" style="width: 250px" required="false"></textarea>
                </div>
            </div>
            <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="city" title="City${reqLabel}" required="true">
            </div>
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="state" placeholder="Select State/Province" title="State${reqLabel}" required="true">
            </div>
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="country" placeholder="Select Country" title="Country${reqLabel}" required="true">
                <option value=""></option>
                <option value="US">US</option>
                <option value="CA">CA</option>
            </div>
            <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="zipCode" title="Zip/Postal Code${reqLabel}" required="false">
            </div>
            <div data-dojo-type="dijit/form/ComboBox" title="Account Name<req>" data-dojo-attach-point="accountName" data-dojo-props="missingMessage:'Please enter Account Name ',tooltipPosition:['after'],hasDownArrow: false, highlightMatch:'all', intermediateChanges:true" required="true" style="width:250px"></div>
            <div data-dojo-type="dijit/form/SimpleTextarea" title="Location Access Hours${reqLabel}" data-dojo-attach-point="accessHrs" data-dojo-props="missingMessage:'Please enter Access hours',tooltipPosition:['after'],rows:3" style="width:250px" data-dojo-attach-event="click: setAccessHrs" required="false"></div>
            <div data-dojo-type="dijit/form/FilteringSelect" title="Time Zone<req>" data-dojo-attach-point="timeZone" placeholder="Time Zone" sortByLabel=true required="true" style="width: 250px;">
            </div>
            <div data-dojo-type="dijit/form/SimpleTextarea" title="Special Access Instructions" data-dojo-attach-point="accessInstructions" data-dojo-props="rows:3" style="width:250px"></div>
            <div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="wkndAccess" name="WeekendAccess" data-dojo-props="checked:false" title="Weekend Access">
            </div>
            <div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="dispatchPolicy" name="DispatchPolicy" data-dojo-props="checked:false" data-dojo-attach-event="click: setDispatchAuthBy" title="Accept Dispatch Policy" required="false">
            </div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Dispatch Authorized By${reqLabel}" data-dojo-attach-point="dispatchAuthBy" required="false"> </div>
        </div>
    </div>
</div>