<div class="${baseClass}">

	<div data-dojo-attach-point="filterDiv" style="padding-top: 10px">
		<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="addNotesBtn" data-style="align:center" action="case-add-note" recordType="${recordType}">Add Notes
		</div>
		<label style="display: inline;padding-left: 10px;padding-right: 10px;padding-top: 10px"><b>Note Type: </b>
		</label>
		<div data-dojo-attach-point="noteTypeFilter" data-dojo-type="dijit/form/FilteringSelect" placeholder="Filter by Note Type" data-dojo-props="sortByLabel: true" style="width: 250px;display: inline-block"></div>
		<!-- <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="getNotesBtn" style="padding-left:10px;text-align:center;">Get Notes</div> -->
	</div>

	<div style="margin-top: 10px;display: flex;justify-content: flex-end;align-items: center;width: 57%;">
		<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="notesReloadBtn" class="reload-btn" data-dojo-props="iconClass:'reloadIcon',showLabel: false">
			<div>Reload</div>
		</div>
		<div data-dojo-attach-point="reloadingDiv" class="" style="text-align:right;display:none;color: blue;padding-right: 10px;margin-left: -60px"><img src="images/loading_icon.gif" style="width: 15px; height: 15px;display: inline-block"><label data-dojo-attach-point="reloadLabel" style=" font-weight: bold; display: inline-block;">Reloading
				...</label></div>
	</div>

	<div style="width:100%;height:100%;">
		<div style="width:60%;height:100%;float:left;">
			<div data-dojo-attach-point="caseNotesdiv" style="margin-top: 1.4em; height:400px;display:block;border:1px solid black;"></div>
		</div>
		<label style="font-size: 15px;font-weight: bold;">Notes Text</label>
		<div style="display: block;width:39%;height:400px;border:1px solid black;float:left;overflow-y: scroll;white-space:pre-wrap" innerHTML="" data-dojo-attach-point="notesText"> </div>
	</div>
</div>