<div>        
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="caseRoutingForm" action="">
        <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
            <div data-dojo-type="dijit.form.TextBox" title="Origination Trunk Group" data-dojo-attach-point="originationTrkGrp"> </div>
            <div data-dojo-type="dijit.form.TextBox" title="Routing Digits" data-dojo-attach-point="routingDigits"> </div>
            <div data-dojo-type="dijit.form.TextBox" title="Terminating Trunk Group" data-dojo-attach-point="terminatingTrkGrp"> </div>
            <div data-dojo-type="dijit.form.TextBox" title="Routing Table" data-dojo-attach-point="routingTable"> </div>
            <div data-dojo-type="dijit.form.TextBox" title="Originating Phone Number" data-dojo-attach-point="originatingPh"> </div>
            <div data-dojo-type="dijit.form.TextBox" title="Rural Route" data-dojo-attach-point="ruralRoute"> </div>
            <div data-dojo-type="dijit.form.TextBox" title="Terminating Phone Number" data-dojo-attach-point="terminatingPh"> </div> 
            <div data-dojo-type="dijit/form/Select" title="LRN" data-dojo-attach-point="lrn" data-dojo-props="" style="width: 200px;"> </div>
        </div>
    </div>
</div>
