<div class="${baseClass}">>        
    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="changePasswordDlg" data-dojo-props="closable: true" title="User Password Change">
        <div data-dojo-type="dijit/Fieldset" data-dojo-props="toggleable:false" style="padding-bottom: 2%">
            <legend><b>Change Password</b> </legend>
        <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1,orientation:'vert',customClass:'searchtable'">
        <div data-dojo-type="dijit.form.TextBox" title="User Name" data-dojo-attach-point="userName" data-dojo-props="disabled:true"> </div>
        <div data-dojo-type="dijit.form.TextBox" type = "password" title="Current Password" data-dojo-attach-point="currentPassword" > </div>
        <div data-dojo-type="dijit.form.TextBox" type = "password" title="New Password" data-dojo-attach-point="newPassword" > </div>
        <div data-dojo-type="dijit.form.TextBox" type = "password" title="Confirm New Password" data-dojo-attach-point="confirmNewPassword" > </div>
        </div>
        <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="submitBtn">Save</button>
            <p class="changePasswordNote">"Note: <br/>  A password should be 8 characters in length atleast. <br/> It should have one capital letter and one small letter and one digit and one special character. <br/> It should not be a password that was used before. <br/> It should not match your user name. <br/> +, *, ? characters are not allowed for LDesk password."</p>
        </div>
        </div>
    
</div>
