<div class="${baseClass}">
    <div data-dojo-type="dijit/Dialog" title="Close Work Order" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="closeCarrierWODlg" style="width:70%; background-color: white">
        <div class="dijitDialogPaneContentArea">
            <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="closeCarrierWOForm">
                <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" data-dojo-attach-point="closeCarrierWOTable" style="margin-left: 1%; margin-right: 1%;">
                    <div data-dojo-type="dijit.form.TextBox" title="Work Order Number" data-dojo-attach-point="workOrderNo" disabled></div>
                    <div data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="status" required="true" title="Status<req>"> </div>
                    <div data-dojo-type="dijit.form.TextBox" title="Open Code" data-dojo-attach-point="openCode"></div>
                    <div data-dojo-type="dijit.form.TextBox" title="Close Code" data-dojo-attach-point="closeCode"></div>
                    <div><textarea data-dojo-type="dijit/form/SimpleTextarea" title="Scope of Work" data-dojo-attach-point="scopeOfWork" data-dojo-props="rows:2" style="width: 250px;"></textarea></div>
                    <div data-dojo-type="app/view/ValidationTextarea" title="Resolution Description<req>" data-dojo-attach-point="resDescr" data-dojo-props="rows:2" style="width: 250px;" required="true"></div>
                    <div data-dojo-type="dijit.form.TextBox" title="Carrier Name" data-dojo-attach-point="carrierName"></div>
                    <div data-dojo-type="dijit.form.TextBox" title="Carrier Contact Number" data-dojo-attach-point="carrierContactName"></div>
                    <div data-dojo-type="dijit.form.TextBox" title="Carrier Ticket Number" data-dojo-attach-point="externalTktNum"></div>

                    <div data-dojo-type="dijit/layout/ContentPane" title="Dispatch Date/ETR">
                        <div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dispatchDate1" title="Date" required="true"></div>
                        <div data-dojo-type="dijit/form/TimeTextBox" data-dojo-attach-point="dispatchTime1" data-dojo-props="constraints: {timePattern: 'HH:mm:ss', clickableIncrement: 'T00:15:00', visibleIncrement: 'T00:15:00', visibleRange: 'T01:00:00' }" required="true"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dijitDialogPaneActionBar" style="text-align:center">
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelCarrierBtn" type="button">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitBtn" type="button">Submit</button>
        </div>

    </div>
</div>