<div class="${baseClass}">
    <div data-dojo-type="dijit/Dialog" title="Close Work Order" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="closeWODlg" style="width:70%; background-color: white">
        <div class="dijitDialogPaneContentArea">
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="exceptionDiv" style="display: none;">
                <div data-dojo-type="dijit/Fieldset" data-dojo-attach-point="exceptionPane" data-dojo-props="toggleable:false" style="width: 95%;">
                    <legend style="color: red;">
                        <b>Can't Close/Cancel Work Order</b>
                    </legend>
                    <!-- <div data-dojo-attach-point="exceptionContent"></div> -->
                </div>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="page1" style="display: block;">
                <div data-dojo-type="dijit/Fieldset" data-dojo-attach-point="itemizedChargesPane" data-dojo-props="toggleable:false" style="width: 99%; height: 300px;">
                    <legend><b>Charge Itemizations</b></legend>
                    <div data-dojo-attach-point="itemizedChargesDiv" style="margin-top: 1em; width:99%; height: 275px; margin-bottom: 1em;">
                    </div>
                </div>
            </div>
            <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="closeWOForm" style="display: block;">
                <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" data-dojo-attach-point="closeWOTable" style="margin-left: 1%; margin-right: 1%;">
                    <div data-dojo-type="dijit/form/CurrencyTextBox" data-dojo-props="constraints:{fractional:true},currency:'USD',invalidMessage:'Invalid amount.'" title="Work Order Cost" data-dojo-attach-point="woCost" disabled></div>
                    <div data-dojo-type="dijit/form/CurrencyTextBox" data-dojo-props="constraints:{fractional:true},currency:'USD',invalidMessage:'Invalid amount.'" title="Itemized Total" data-dojo-attach-point="itemizedTotal" disabled></div>
                    <div data-dojo-type="dijit/form/CurrencyTextBox" data-dojo-props="constraints:{fractional:true},currency:'USD',invalidMessage:'Invalid amount.'" title="Client Charge" data-dojo-attach-point="clientCharge" disabled></div>
                    <div data-dojo-type="dijit.form.CheckBox" title="Waive Dispatch Fee(Checked means Dispatch fee Approved)" data-dojo-attach-point="waiveDispatchFee" disabled></div>
                    <div data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="woStatus" required="true" title="Status<req>">
                        <option value="Closed">Closed</option>
                        <option value="Canceled">Canceled</option>
                    </div>
                    <div data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="woSubStatus" data-dojo-props="searchAttr:'name',labelAttr:'name',labelType:'text'" required="true" title="Sub-Status<req>">
                        <option value="Billable">Billable</option>
                        <option value="Not Billable">Not Billable</option>
                    </div>
                    <div data-dojo-type="dijit/form/SimpleTextarea" title="Note" data-dojo-attach-point="woNote" rows="2" style="width: 250px;"></div>
                    <div data-dojo-type="dijit.form.CheckBox" title="Apply Charges To Billing" data-dojo-attach-point="chargesToTelcare" required="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="dijitDialogPaneActionBar" style="text-align:center" data-dojo-attach-point="dialogActionbar">
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelBtn" type="button">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitBtn" type="button">Submit</button>
        </div>
    </div>
</div>