<div class="${baseClass}" style="height: 100%;width: 100%;">
	<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="colTreatForm" action="">
		<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" data-dojo-attach-point="colTreatFormTable" style="height: 106px">

			<div data-dojo-type="dijit/form/FilteringSelect" name="Treatment Status" title="Treatment Status" data-dojo-attach-point="treatmentStatus" data-dojo-props="searchAttr:'name',labelAttr:'name',labelType:'text'"></div>
			<div type="text" name="Remainder Date" title="Remainder Date<req>" data-dojo-attach-point="remainderDate" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'" required="true"></div>
			<div type="text" name="Suspend Notice Date" title="Suspend Notice Date<req>" data-dojo-attach-point="suspendNoticeDate" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'" required="true"></div>
			<div type="text" name="Disconnect Notice Date" title="Disconnect Notice Date<req>" data-dojo-attach-point="disconnectNoticeDate" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'" required="true"></div>
			<div type="text" name="Final Demand Notice Date" title="Final Demand Notice Date<req>" data-dojo-attach-point="finalDemandNoticeDate" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'" required="true"></div>


		</div>

	</div>


</div>