<div class="${baseClass}">
	<div class="headerTitle" style="padding-top: 10px;padding-bottom: 10px;background: #fffff0;margin-bottom: 10px; border: 1px solid #b5bcc7; ">
		<div style="padding:10px;display: flex; justify-content:space-between; align-items:center">
			<div>
				<label data-dojo-attach-point="reportTitleSpan" style="font-size: 14px;font-weight: bold;">Create Report</label>
				<label style="font-size: 12px;"> <b><span data-dojo-attach-point="reportNameSpan"></span></b></label>
				<label style="font-size: 12px;"><span data-dojo-attach-point="reportIdSpan"></span></label>
			</div>
			<div data-dojo-attach-point="buttonDiv">

				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="saveBtn" style="display: inline-block;">Save</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="closeWindowBtn" style="display: inline-block;">Close Window</button>
			</div>
		</div>
	</div>

	<div data-dojo-type="dijit/TitlePane" data-dojo-attach-point="filterPane" title="<b>Filter</b>" data-dojo-props="toggleable: false, open:true" style="width: 100%">
		<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="reportPreviewForm" action="">
			<div style="margin-bottom: 10px;">
				<label style="font-weight: bold;display: inline;padding-right: 10px;">Report Type</label>
				<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="reportType" title="Report Type" required="true">
					<option value="Case">Case</option>
					<option value="User Activity">User Activity</option>
					<option value="Work Order">Work Order</option>
					<option value="WO Charge Itemization">WO Charge Itemization</option>
					<option value="Task">Task</option>
				</div>
			</div>
			<div data-dojo-attach-point="caseFilterDiv">
				<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="caseReportForm" action="">
					<div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="filterDiv1" data-dojo-props="cols:5, orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Record Type" data-dojo-attach-point="recordTypeList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Queue" data-dojo-attach-point="queueList" data-dojo-props="labelAttr:'queueName',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Category" data-dojo-attach-point="categoryList" data-dojo-props="labelAttr:'categoryName',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Status" data-dojo-attach-point="statusList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="subStatus" data-dojo-attach-point="subStatusList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="accountType" title="Account Type" required="true">
							<option value="Any" selected>Any</option>
							<option value="accountId">Current Account</option>
							<option value="parentAccountId">Parent Account</option>
							<option value="topParentAccountId">Top Parent</option>
						</div>
						<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="createdDateType" title="Created Date">
							<option value="Any">Last 3 Months</option>
							<option value="WTD">Week to Date (WTD)</option>
							<option value="MTD">Month to Date (MTD)</option>
							<option value="QTD">Quarter to Date (QTD)</option>
							<option value="YTD">Year to Date (YTD)</option>
							<option value="xDays">Last X days</option>
							<option value="range">Date Range</option>
						</select>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="createdXDays" title="No of Days" data-dojo-props="disabled: true"></div>
						<div type="text" name="openFrom" title="Created From" data-dojo-attach-point="createdFrom" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="disabled: true,datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'"></div>
						<div type="text" name="openTo" title="Created To" data-dojo-attach-point="createdTo" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="disabled: true,datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'"></div>
						<div data-dojo-type="dijit/layout/ContentPane" title="Account Id">
							<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="accountId" title="Account Id" style="width: 150px;"></div>
							<button dojoType="dijit.form.Button" data-dojo-attach-point="showSearchBtn" iconClass="dijitIconSearch" showLabel="false" type="button">Search</button>
						</div>
						<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="closedDateType" title="Closed Date">
							<option value="Any">Any</option>
							<option value="WTD">Week to Date (WTD)</option>
							<option value="MTD">Month to Date (MTD)</option>
							<option value="QTD">Quarter to Date (QTD)</option>
							<option value="YTD">Year to Date (YTD)</option>
							<option value="xDays">Last X days</option>
							<option value="range">Date Range</option>
						</select>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="closedXDays" title="No Of Days" data-dojo-props="disabled: true"></div>
						<div type="text" name="createdFrom" title="Closed From" data-dojo-id="closedFrom" data-dojo-attach-point="closedFrom" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,disabled: true,locale: 'en-us'"></div>
						<div type="text" name="createdTo" title="Closed To" data-dojo-id="closedTo" data-dojo-attach-point="closedTo" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,disabled: true,locale: 'en-us'"></div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Case Origin" data-dojo-attach-point="originList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Service State" data-dojo-attach-point="srvStateList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
					</div>
				</div>
			</div>
			<div data-dojo-attach-point="userFilterDiv" style="display: none;">
				<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="userReportForm" action="">
					<div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="filterDiv2" data-dojo-props="cols:5, orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Profile" data-dojo-attach-point="profileList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="dateType" title="Date Type">
							<option value="Any">Last 3 Months</option>
							<option value="WTD">Week to Date (WTD)</option>
							<option value="MTD">Month to Date (MTD)</option>
							<option value="QTD">Quarter to Date (QTD)</option>
							<option value="YTD">Year to Date (YTD)</option>
							<option value="xDays">Last X days</option>
							<option value="range">Date Range</option>
						</select>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="dateXDays" title="No Of Days" data-dojo-props="disabled: true"></div>
						<div type="text" name="dateFrom" title="Date From" data-dojo-id="dateFrom" data-dojo-attach-point="dateFrom" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,disabled: true,locale: 'en-us'"></div>
						<div type="text" name="dateTo" title="Date To" data-dojo-id="dateTo" data-dojo-attach-point="dateTo" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd',strict:true,disabled: true,locale: 'en-us'"></div>
					</div>
				</div>
			</div>
			<div data-dojo-attach-point="woFilterDiv" style="display: none;">
				<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="woReportForm" action="">
					<div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="filterDiv3" data-dojo-props="cols:5, orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Record Type" data-dojo-attach-point="recordList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Dispatch Type" data-dojo-attach-point="dispatchList" data-dojo-props="labelAttr:'dispatchType',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Status" data-dojo-attach-point="woStatusList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Sub Status" data-dojo-attach-point="woSubStatusList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Billing System" data-dojo-attach-point="billingSystem" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="createdwoDateType" title="Created Date">
							<option value="Any">Last 3 Months</option>
							<option value="WTD">Week to Date (WTD)</option>
							<option value="MTD">Month to Date (MTD)</option>
							<option value="QTD">Quarter to Date (QTD)</option>
							<option value="YTD">Year to Date (YTD)</option>
							<option value="xDays">Last X days</option>
							<option value="range">Date Range</option>
						</select>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="createdwoXDays" title="No of Days" data-dojo-props="disabled: true"></div>
						<div type="text" name="woopenFrom" title="Created From" data-dojo-attach-point="woCreatedFrom" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="disabled: true,datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'"></div>
						<div type="text" name="woopenTo" title="Created To" data-dojo-attach-point="woCreatedTo" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="disabled: true,datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'"></div>
						<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="closedwoDateType" title="Closed Date">
							<option value="Any">Any</option>
							<option value="WTD">Week to Date (WTD)</option>
							<option value="MTD">Month to Date (MTD)</option>
							<option value="QTD">Quarter to Date (QTD)</option>
							<option value="YTD">Year to Date (YTD)</option>
							<option value="xDays">Last X days</option>
							<option value="range">Date Range</option>
						</select>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="closedwoXDays" title="No Of Days" data-dojo-props="disabled: true"></div>
						<div type="text" name="woClosedFrom" title="Closed From" data-dojo-id="woClosedFrom" data-dojo-attach-point="woClosedFrom" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,disabled: true,locale: 'en-us'"></div>
						<div type="text" name="woClosedTo" title="Closed To" data-dojo-id="woClosedTo" data-dojo-attach-point="woClosedTo" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,disabled: true,locale: 'en-us'"></div>
						<div data-dojo-type="dijit/layout/ContentPane" title="Account Id">
							<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="accountId1" title="Account Id" style="width: 150px;"></div>
							<button dojoType="dijit.form.Button" data-dojo-attach-point="showSearchBtn1" iconClass="dijitIconSearch" showLabel="false" type="button">Search</button>
						</div>
						<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="disCreatedWoDateType" title="Dispatch Date" data-dojo-props="disabled: true">
							<option value="Any">Any</option>
							<option value="WTD">Week to Date (WTD)</option>
							<option value="MTD">Month to Date (MTD)</option>
							<option value="QTD">Quarter to Date (QTD)</option>
							<option value="YTD">Year to Date (YTD)</option>
							<option value="xDays">Last X days</option>
							<option value="range">Date Range</option>
						</div>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="dispatchWoXDays" title="No of Days" data-dojo-props="disabled: true"></div>
						<div type="text" name="disFrom" title="Dispatch From" data-dojo-attach-point="disWoCreatedFrom" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="disabled: true,datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'"></div>
						<div type="text" name="disTo" title="Dispatch To" data-dojo-attach-point="disWoCreatedTo" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="disabled: true,datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'"></div>
					</div>
				</div>
			</div>
			<div data-dojo-attach-point="taskFilterDiv" style="display: none;">
				<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="taskReportForm" action="">
					<div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="filterDiv4" data-dojo-props="cols:5, orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Category" data-dojo-attach-point="taskcategoryList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Status" data-dojo-attach-point="taskstatusList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<div data-dojo-type="dojox/form/CheckedMultiSelect" title="Queue" data-dojo-attach-point="taskqueueList" data-dojo-props="labelAttr:'name',labelType:'text', intermediateChanges:true, dropDown: true, multiple: true, scrollOnFocus: true" sortByLabel=true required="false"> </div>
						<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="taskCreatedDateType" title="Created Date">
							<option value="Any">Last 3 Months</option>
							<option value="WTD">Week to Date (WTD)</option>
							<option value="MTD">Month to Date (MTD)</option>
							<option value="QTD">Quarter to Date (QTD)</option>
							<option value="YTD">Year to Date (YTD)</option>
							<option value="xDays">Last X days</option>
							<option value="range">Date Range</option>
						</select>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="taskCreatedXDays" title="No of Days" data-dojo-props="disabled: true"></div>
						<div type="text" name="openFrom" title="Created From" data-dojo-attach-point="taskCreatedFrom" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="disabled: true,datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'"></div>
						<div type="text" name="openTo" title="Created To" data-dojo-attach-point="taskCreatedTo" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="disabled: true,datePattern:'yyyy-MM-dd', strict:true,locale: 'en-us'"></div>
						<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="taskClosedDateType" title="Closed Date">
							<option value="Any">Any</option>
							<option value="WTD">Week to Date (WTD)</option>
							<option value="MTD">Month to Date (MTD)</option>
							<option value="QTD">Quarter to Date (QTD)</option>
							<option value="YTD">Year to Date (YTD)</option>
							<option value="xDays">Last X days</option>
							<option value="range">Date Range</option>
						</select>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="taskClosedXDays" title="No Of Days" data-dojo-props="disabled: true"></div>
						<div type="text" name="createdFrom" title="Closed From" data-dojo-id="taskClosedFrom" data-dojo-attach-point="taskClosedFrom" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,disabled: true,locale: 'en-us'"></div>
						<div type="text" name="createdTo" title="Closed To" data-dojo-id="taskClosedTo" data-dojo-attach-point="taskClosedTo" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="datePattern:'yyyy-MM-dd', strict:true,disabled: true,locale: 'en-us'"></div>
						<div data-dojo-type="dijit/layout/ContentPane" title="Account Id">
							<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="accountId2" title="Account Id" style="width: 150px;"></div>
							<button dojoType="dijit.form.Button" data-dojo-attach-point="showSearchBtn2" iconClass="dijitIconSearch" showLabel="false" type="button">Search</button>
						</div>
					</div>
				</div>
			</div>
			<div style="text-align:center;margin-top:20px">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="previewBtn">Preview</button>
			</div>
		</div>
	</div>

	<div data-dojo-type="dijit/TitlePane" data-dojo-attach-point="previewDiv" title="<b>Preview</b>" data-dojo-props="toggleable: false, open:true" style="display: none;margin-top:5px;width: 100%;">
		<div data-dojo-type="dijit/Fieldset" data-dojo-attach-point="filterFS" data-dojo-props="toggleable:false" style="display: inline-block;width: 99%;min-width: 0;margin-top: 10px;">
			<legend><b>Filter</b></legend>
			<div style="padding:10px;display: flex; justify-content:space-between; align-items:center">
				<div data-dojo-attach-point="filterStrDiv" style="font-weight: bold;overflow: hidden;text-overflow: ellipsis"></div>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="showFilterBtn">Edit</button>
			</div>
		</div>
		<div data-dojo-type="dijit/Fieldset" data-dojo-attach-point="summaryFS" data-dojo-props="toggleable:false" style="display: inline-block;width: 99%;min-width: 0;margin-top: 10px;">
			<legend><b>Summary</b></legend>
			<div id="pivotReport_${reportId}" style="height: 600px; overflow: auto"></div>
		</div>
		<div data-dojo-type="dijit/Fieldset" data-dojo-attach-point="chartFS" data-dojo-props="toggleable:false" style="display: none;width: 37.29%;min-width:0;margin-top: 10px;">
			<legend><b>Chart</b></legend>
			<div style="text-align: right;">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="chartSettingsBtn" data-dojo-props="iconClass: 'dijitIconChart',showLabel: false">Settings</button>
			</div>
			<div id="pivotChart_${reportId}" data-dojo-attach-point="pivotChart" style="height: 600px; overflow: auto"></div>
		</div>
		<div data-dojo-type="dijit/Fieldset" data-dojo-attach-point="detailsFS" data-dojo-props="toggleable:false" style="min-width: 0;width: 99%;margin-top: 10px;display: none;">
			<legend><b>Details</b></legend>
			<div id="detailsTable1_${reportId}" style="height: 300px; overflow: auto"></div>
		</div>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="detailsDlg" data-dojo-props="destroyOnClose : true,closable: true" title="Details" style="width:80%;">
		<div class="dijitDialogPaneContentArea">
			<div id="detailsTable_${reportId}" style="height: auto;"></div>
		</div>
		<div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelDetailsBtn" type="button">Cancel</button>
		</div>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="saveReportDlg" data-dojo-props="destroyOnClose : true,closable: true" title="Save Report" style="width:400px;">
		<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="saveReportForm">
			<label style="margin-top: 10px;"><b>Group <req>: </b></label>
			<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Group" data-dojo-attach-point="folderGroup" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=true required="true" style="width: 250px;">
			</div>
			<label style="margin-top: 10px;"><b>Folder <req>: </b></label>
			<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Folder" data-dojo-attach-point="folderName" data-dojo-props="labelAttr:'name',labelType:'text'" required="true" style="width: 250px;">
			</div>
			<label style="margin-top: 10px;"><b>Report Name <req>: </b></label>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Report Name" data-dojo-attach-point="reportName" style="width: 250px" required></div>
			<label style="display: none;margin-top: 10px;padding-right: 10px;"><b>Include: </b></label>
			<div style="display: none;">
				<div style="display: inline; padding-left: 5px;"><input id="includeSummary_${info.id}" data-dojo-attach-point="includeSummary" data-dojo-type="dijit/form/CheckBox" value="1" checked /> <label for="includeSummary_${info.id}" style="display: inline">Summary</label> </div>
				<div style="display: inline; padding-left: 5px;"><input id="includeChart_${info.id}" data-dojo-attach-point="includeChart" data-dojo-type="dijit/form/CheckBox" value="1" checked /> <label for="includeChart_${info.id}" style="display: inline">Chart</label> </div>
				<div style="display: inline; padding-left: 5px;"><input id="includeDetails_${info.id}" data-dojo-attach-point="includeDetails" data-dojo-type="dijit/form/CheckBox" value="1" checked /> <label for="includeDetails_${info.id}" style="display: inline">Details</label> </div>
			</div>
			<div class="dijitDialogPaneActionBar" style="text-align:center">
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelSaveBtn" type="button">Cancel</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="submitBtn">Submit</button>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="searchAccountDlg" title="Search Account" style="width:70%">
		<div class="dijitDialogPaneContentArea">
			<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="saveFolderForm">
				<label style="margin-top: 5px;"><b>Account Name <req>: </b></label>
				<div data-dojo-type="dijit/form/ValidationTextBox" title="Account Name" data-dojo-attach-point="searchName" style="width: 200px" data-dojo-props="regExp:'.{3,}' ,invalidMessage: 'Minimum 3 Charaters Required!'" required></div>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="searchBtn">Search</button>
				<label style="font-size: 12px;color: green;margin-top: 10px;">(Select an account by click on the cell)</label>
				<div data-dojo-attach-point="searchResultDiv"> </div>
				<div style="text-align: center;margin-top: 10px;">
					<label style="font-weight: bold;display: inline-block;">Selected Account Id: </label>
					<div data-dojo-type="dijit/form/ValidationTextBox" title="Account Name" data-dojo-attach-point="selAccountId" style="width: 150px" disabled style="display: inline-block;"></div>
					<label style="font-weight: bold;display: inline-block;">Selected Account Type: </label>
					<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="selAccountType" title="Account Type" style="width: 150px" disabled>
						<option value=" " selected>Select an Account</option>
						<option value="accountId" selected>Current Account</option>
						<option value="parentAccountId">Parent Account</option>
						<option value="topParentAccountId">Top Parent</option>
					</div>
				</div>
			</div>
			<div class="dijitDialogPaneActionBar" style="text-align:center">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-props="disabled: true" data-dojo-attach-point="addBtn">Add</button>
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelSearchBtn" type="button">Cancel</button>
			</div>
		</div>
	</div>
</div>