<div class="${baseClass}">
	<div data-dojo-type="dijit/Dialog" title="Work Order" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="createWorkOrderDialog" style="width:60%; background-color: white">
		<div class="dijitDialogPaneContentArea">
			<div style="width: 99%;" data-dojo-attach-point="typeSelectDiv">
				<div><label><B>Select a Record Type</B></label></div><br>
				<div class="divRadio" action="wo-create" recordType="Repair CCS Dispatch" data-dojo-attach-point="r1">
					<label><input type="radio" data-dojo-type="dijit/form/RadioButton" name="workOrderType" data-dojo-attach-event="click: selectType" value="Repair CCS Dispatch" data-dojo-attach-point="radioCCSDispatch" />Repair CCS
						Dispatch</label>
				</div><br>
				<div class="divRadio" action="wo-create" recordType="Repair Field Nation Dispatch" data-dojo-attach-point="r2">
					<label><input type="radio" data-dojo-type="dijit/form/RadioButton" name="workOrderType" data-dojo-attach-event="click: selectType" value="Repair Field Nation Dispatch" data-dojo-attach-point="radioFieldNationDispatch" />Repair Field Nation Dispatch</label>
				</div><br>
				<div class="divRadio" action="wo-create" recordType="Carrier Dispatch" data-dojo-attach-point="r3">
					<label><input type="radio" data-dojo-type="dijit/form/RadioButton" name="workOrderType" data-dojo-attach-event="click: selectType" value="Carrier Dispatch" data-dojo-attach-point="radioCarrierDispatch" />Carrier Dispatch</label>
				</div><br>
				<div style="text-align:center; padding-bottom: 10px;">
					<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn1">Close</button>
					<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="nextBtn" disabled>Next</button>
				</div>
			</div>
			<div data-dojo-attach-point="ccsDispatchDiv" style="display: none;">
				<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="ccsForm">
					<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
						<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="caseNumber" title="Case Number<req>" value="${caseNumber}" required="true" disabled>
						</div>
						<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="dispatchType" title="Dispatch Type<req>" placeholder="Select Dispatch Type" required="true">
						</div>
						<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="ccsWONumber" title="CCS Work Order Number<req>" required="true">
						</div>
						<div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="dispatchFeeCheck" data-dojo-props="checked:false" title="Waive Dispatch Fee">
						</div>
						<div data-dojo-type="dijit/layout/ContentPane" title="Scope of Work<req>" data-dojo-attach-point="sow" style="display: inline">
							<div data-dojo-type="app/view/ValidationTextarea" title="Scope of Work<req>" maxLength="5000" data-dojo-attach-point="scopeOfWork" data-dojo-props="missingMessage:'Please enter scope of work', tooltipPosition:['after'], rows:3" style="width:250px" required="true">
							</div>
						</div>

					</div>
					<div style="display: inline;">
						<div><label><B>Dispatch Date/ETR<req></B></label></div>
						<div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dispatchDate" data-dojo-props="constraints:{min: new Date(),datePattern: 'yyyy-MM-dd'}" required="true">
						</div>
						<div data-dojo-type="dijit/form/TimeTextBox" data-dojo-attach-point="dispatchTime" data-dojo-props="constraints: {timePattern: 'HH:mm:ss', clickableIncrement: 'T00:15:00', visibleIncrement: 'T00:15:00', visibleRange: 'T01:00:00' }" required="true">
						</div>
					</div>
				</div>
			</div>
			<div data-dojo-attach-point="fnDispatchDiv" style="display: none;">
				<div data-dojo-attach-point="fnErrorDiv" style="padding-bottom: 5px; display: none;height: 10px;width: 100%;text-align: center;align-content: center;justify-content: center;align-items: center; color: red;font-weight: bold;"></div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Basic Information</b>',toggleable: true, open:true" selected="true" data-dojo-attach-point="basicInfoDiv">
					<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="fnForm1">
						<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2,orientation:'vert',spacing:2,customClass:'ldesk-tbl',showLabels:true">
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="caseNumber2" title="Case Number<req>" value="${caseNumber}" required="true" disabled>
							</div>
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="locationAppId" title="Location AppID" disabled>
							</div>
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="accountName" title="Account Name" style="width: 300px;" disabled>
							</div>
							<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="dispatchType2" title="Dispatch Type<req>" placeholder="Select Dispatch Type" required="true">
							</div>
							<div data-dojo-type="dijit/layout/ContentPane" title="Scope of Work<req>" data-dojo-attach-point="sow2" style="display: inline">
								<div><textarea data-dojo-type="app/view/ValidationTextarea" maxLength="5000" title="Scope of Work<req>" data-dojo-attach-point="scopeOfWork2" data-dojo-props="missingMessage:'Please enter scope of work', tooltipPosition:['after'], rows:3" style="width:300px" required="true"></textarea>
								</div>
							</div>
							<div data-dojo-type="dijit/layout/ContentPane" title="Confidential Information" data-dojo-attach-point="conInfo" style="display: inline">
								<div><textarea data-dojo-type="app/view/ValidationTextarea" maxLength="100" title="Confidential Information" data-dojo-attach-point="confInfo" data-dojo-props="tooltipPosition:['after'], rows:3" style="width:300px" required="false"></textarea>
								</div>
							</div>
							<div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="dispatchFeeCheck2" data-dojo-props="checked:false" title="Waive Dispatch Fee">
							</div>
							<div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="isEscalation" data-dojo-props="checked:false" title="Escalation">
							</div>
						</div>
					</div>
				</div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Schedule Information</b>',toggleable: true, open:false" selected="false" data-dojo-attach-point="scheduleInfoDiv">
					<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="fnForm2">
						<div data-dojo-attach-point="scheduleTypeSelectDiv">
							<div><label><B>Schedule Type<req></B></label></div>
							<div class="divRadio">
								<label><input type="radio" data-dojo-type="dijit/form/RadioButton" value="exact" data-dojo-attach-event="click: scheduleTypeSelection" data-dojo-attach-point="radioA" />Arrive at a Specified Date & Local
									time</label>
							</div>
							<div class="divRadio">
								<label><input type="radio" data-dojo-type="dijit/form/RadioButton" value="hours" data-dojo-attach-event="click: scheduleTypeSelection" data-dojo-attach-point="radioB" />Complete work between Specific Hours</label>
							</div>
							<div data-dojo-attach-point="validationErrMsg2" style="color: red;"></div>
						</div><br>
						<div>
							<div><label><B>Time Zone<req></B></label></div>
							<div data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="timeZone" disabled> </div>
						</div><br>
						<div style="display: none;" data-dojo-attach-point="dispatchStartDiv">
							<div><label><B>Dispatch Start<req></B></label></div>
							<div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dispatchStartDate" data-dojo-props="constraints:{min: new Date(), datePattern: 'yyyy-MM-dd'}" required="true">
							</div>
							<div data-dojo-type="dijit/form/TimeTextBox" data-dojo-attach-point="dispatchStartTime" data-dojo-props="constraints: {min: new Date(), timePattern: 'HH:mm:ss', clickableIncrement: 'T00:15:00', visibleIncrement: 'T00:15:00', visibleRange: 'T01:00:00' }" required="true">
							</div>
						</div><br>
						<div style="display: none;" data-dojo-attach-point="dispatchEndDiv">
							<div><label><B>Dispatch End</B></label></div>
							<div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dispatchEndDate" data-dojo-props="constraints:{min: new Date(), datePattern: 'yyyy-MM-dd'}">
							</div>
							<div data-dojo-type="dijit/form/TimeTextBox" data-dojo-attach-point="dispatchEndTime" data-dojo-props="constraints: {min: new Date(), timePattern: 'HH:mm:ss', clickableIncrement: 'T00:15:00', visibleIncrement: 'T00:15:00', visibleRange: 'T01:00:00' }">
							</div>
						</div><br>
					</div>
				</div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Address Information</b>',toggleable: true, open:false" selected="false" data-dojo-attach-point="addressInfoDiv">
					<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="fnForm3">
						<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" style="padding-bottom: 0.4em;">
							<div data-dojo-type="app/view/ValidationTextarea" data-dojo-attach-point="srvAddress" title="Case Service Address" data-dojo-props="rows:2" style="width:250px" disabled>
							</div>
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="dba" title="DBA<req>" required="true">
							</div>
							<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="locationType" placeholder="Select Location Type" title="Location Type" required="true">
								<option value="Residential">Residential</option>
								<option value="Commercial">Commercial</option>
								<option value="Governmental">Governmental</option>
								<option value="Educational">Educational</option>
								<option value="Others">Others</option>
							</div>
							<div data-dojo-type="dijit/layout/ContentPane" title="Location Access Hours<req>" data-dojo-attach-point="locAccHrs" style="display: inline">
								<div data-dojo-type="app/view/ValidationTextarea" maxLength="60" title="Location Access Hours<req>" data-dojo-attach-point="locationAccessHrs" data-dojo-props="missingMessage:'Please enter location AccessHrs', tooltipPosition:['after'], rows:2" style="width:250px" required="true">
								</div>
							</div>
							<div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="cv19Check" data-dojo-props="checked:false" title="COVID - 19 restrictions">
							</div>
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="coiCustom" title="COI Custom<req>" disabled>
							</div>
						</div>
						<div style="display: inline-flex; padding-bottom: 5px;">
							<div><label><B>COI<req></B></label></div>
							<div class="divRadio">
								<label><input type="radio" data-dojo-type="dijit/form/RadioButton" value="None" data-dojo-attach-point="radioNone" data-dojo-attach-event="click: COISelection" />None</label>
							</div>
							<div class="divRadio">
								<label><input type="radio" data-dojo-type="dijit/form/RadioButton" value="Standard" data-dojo-attach-point="standardRadio" data-dojo-attach-event="click: COISelection" />Standard</label>
							</div>
							<div class="divRadio">
								<label><input type="radio" data-dojo-type="dijit/form/RadioButton" value="Custom" data-dojo-attach-point="customRadio" data-dojo-attach-event="click: COISelection" />Custom</label>
							</div>
							<div data-dojo-attach-point="validationErrMsg" style="color: red;"></div>
						</div>
						<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" style="padding-bottom: 0.4em;">
							<div data-dojo-type="dijit/layout/ContentPane" title="Address Line1<req>" data-dojo-attach-point="addLine1" style="display: inline;">
								<div><textarea data-dojo-type="app/view/ValidationTextarea" maxLength="100" title="Address Line1<req>" data-dojo-attach-point="addressLine1" data-dojo-props="rows:2" style="width: 250px;" required="true"></textarea>
								</div>
							</div>
							<div data-dojo-type="dijit/layout/ContentPane" title="Address Line2" data-dojo-attach-point="addLine2" style="display: inline;">
								<div><textarea data-dojo-type="app/view/ValidationTextarea" maxLength="100" title="Address Line2" data-dojo-attach-point="addressLine2" data-dojo-props="rows:2" style="width: 250px;" required="false"></textarea>
								</div>
							</div>
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="city" title="City<req>" required="true">
							</div>
							<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="stateProvince" placeholder="Select State/Province" title="State/Province<req>" required="true">
							</div>
							<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="country" placeholder="Select Country" title="Country<req>" required="true">
								<option value="US">US</option>
								<option value="CA">CA</option>
							</div>
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="zipCode" title="Zip/Postal Code<req>" required="true">
							</div>
						</div>
					</div>
				</div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Contact Information</b>',toggleable: true, open:false" selected="false" data-dojo-attach-point="contactInfoDiv">
					<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="fnForm4">
						<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" style="padding-bottom: 0.4em;">
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="contactName" title="Primary Dispatch Contact Name<req>" value="${dispatchContactName}" required="true">
							</div>
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="contactNum" title="Primary Dispatch Contact Number<req>" value="${dispatchContactph}" required="true">
							</div>
							<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="contactEmail" title="Primary Dispatch Contact Email<req>" data-dojo-props="intermediateChanges:true, regExp:dojox.validate.regexp.emailAddress, invalidMessage:'Invalid Email',
                                missingMessage:'Please provide valid email address',tooltipPosition:['after']" value="${dispatchContactEmail}" required="true">
							</div>
						</div>
						<div data-dojo-type="dojox/form/Uploader" data-dojo-props="label: 'Upload files', multiple: true, uploadOnSelect: true," data-dojo-attach-point="uploaderdiv" style="margin-top: 1em; width:99%; display: none;">
						</div>
					</div>
				</div>
			</div>
			<div data-dojo-attach-point="carrierDispatchDiv" style="display: none;">
				<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="carrierForm">
					<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
						<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="carrierName" title="Carrier Name<req>" required="true">
						</div>
						<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="dispatchType3" title="Dispatch Type<req>" placeholder="Select Dispatch Type" required="true">
						</div>
						<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="carrierContactName" title="Carrier Contact Number<req>" required="true">
						</div>
						<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="carrierTktNum" title="Carrier Ticket Number<req>" required="true">
						</div>
						<!-- <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="escalationLevel"
                            title="Escalation Level<req>" placeholder="Select Escalation Level" required="true">
                        </div> -->
						<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="caseNumber3" title="Case Number<req>" value="${caseNumber}" required="true" disabled>
						</div>
						<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="accountId3" title="Account" value="${accountId}" required="true" disabled>
						</div>
						<div data-dojo-type="dijit/layout/ContentPane" title="Scope of Work<req>" data-dojo-attach-point="sow3" style="display: inline">
							<div><textarea data-dojo-type="app/view/ValidationTextarea" maxLength="5000" title="Scope of Work<req>" data-dojo-attach-point="scopeOfWork3" data-dojo-props="missingMessage:'Please enter scope of work', tooltipPosition:['after'], rows:3" style="width:300px" required="true"></textarea>
							</div>
						</div>
					</div>
					<div style="display: inline;">
						<div><label><B>Dispatch Date/ETR<req></B></label></div>
						<div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dispatchDate3" data-dojo-props="constraints:{min: new Date(),datePattern: 'yyyy-MM-dd'}" required="true">
						</div>
						<div data-dojo-type="dijit/form/TimeTextBox" data-dojo-attach-point="dispatchTime3" data-dojo-props="constraints: {timePattern: 'HH:mm:ss', clickableIncrement: 'T00:15:00', visibleIncrement: 'T00:15:00', visibleRange: 'T01:00:00' }" required="true">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dijitDialogPaneActionBar" style="display: none;text-align:center;" data-dojo-attach-point="dialogActionbar">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn">Close</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitBtn" disabled>Submit</button>
		</div>
	</div>
</div>