<div class="${baseClass}">
	<div data-dojo-type="dijit/Dialog" title="Create Network Event" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="networkEventDialog" style="width:900px;">
		<div class="dijitDialogPaneContentArea">
			<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="createForm">
				<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
					<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Category<req>" data-dojo-attach-point="category" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=true required="true" style="width: 200px;" disabled>
						<option selected>Network Event</option>
					</div>
					<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Type<req>" data-dojo-attach-point="type" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=true required="true" style="width: 200px;" disabled>
						<option selected value="Network Event">Network Event</option>
					</div>
					<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Sub Type<req>" data-dojo-attach-point="subtype" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=true placeholder="Select Sub Type" style="width: 200px;" required="true">
					</div>
					<div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="intermediateChanges:true" name="subject" title="Subject<req>" data-dojo-attach-point="subject" value="" required="true"></div>
					<div data-dojo-type="app/view/ValidationTextarea" title="Description<req>" data-dojo-attach-point="description" data-dojo-props="rows:2" style="width:250px" required="true">
					</div>
					<div data-dojo-type="app/view/ValidationTextarea" title="Notification Message<req>" data-dojo-attach-point="notificationMsg" data-dojo-props="rows:2" style="width:250px" required="true"></div>
					<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Service Priority<req>" data-dojo-attach-point="servicePriority" placeholder="Select Service Priority" sortByLabel=true required="true" style="width: 200px;"></div>
					<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Status<req>" placeholder="Select Status" data-dojo-attach-point="caseStatus" sortByLabel=true required="true" style="width: 200px;" disabled="true">
					</div>
					<div data-dojo-type="dijit/form/FilteringSelect" title="Provider<req>" data-dojo-attach-point="provider" sortByLabel=true placeholder="Select Provider" style="width: 200px;" required="true">
					</div>
					<div data-dojo-type="dijit/layout/ContentPane" style="padding:0px;margin-top: -10px" data-dojo-attach-point="displayMsgPane">
						<label><b>Display Portal Message</b></label>
						<div data-dojo-type="dijit/form/CheckBox" title="Display Portal Message" data-dojo-attach-point="displayPortalMsg"> </div>
					</div>
					<div data-dojo-type="dojox/form/CheckedMultiSelect" class="required" data-dojo-props="intermediateChanges:true, dropDown: true, multiple: true, labelAttr:'name',labelType:'text',scrollOnFocus: true" name="statesAffected" title="States Affected" data-dojo-attach-point="statesSelect">
					</div>
					<textarea data-dojo-type="dijit/form/SimpleTextarea" title="Selected States" disabled=true data-dojo-attach-point="selectedStates" data-dojo-props="rows:4" style="width:250px"></textarea>
				</div>
			</div>
		</div>
		<div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelBtn" type="button">Cancel</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitBtn" type="button">Submit</button>
		</div>
	</div>
</div>