<div class="${baseClass}">
	<div data-dojo-type="dijit/layout/BorderContainer" style="width: 100%; height: 100%" data-dojo-props="region:'center'">
		<div class="headerTitle" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" style="background: #fffff0">
			<div style="font-size: 14px;font-weight: bold;display: inline-block;width: 20%;">Dashboard Management</div>
			<div style=" display: inline-block;width: 60%;text-align: center;">
				<label style="display: inline-block;font-weight: bold;">Search: </label>
				<div data-dojo-type="dijit.form.TextBox" title="Search" data-dojo-attach-point="searchInput" data-dojo-props="placeholder: 'Search Dashboard'" style="width: 300px"> </div>
				<button dojoType="dijit.form.Button" data-dojo-attach-point="searchBtn" iconClass="dijitIconSearch" showLabel="false" type="button">Search</button>
			</div>
			<div style="text-align:right;display: inline-block;width: 19%;">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="createDashBtn">Create Dashboard</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="createFolderBtn" style="display: none;">Create Folder</button>
			</div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left',splitter:true" style="width: 15%;">
			<div data-dojo-type="dijit/TitlePane" title="<b>Folders</b>" data-dojo-props="toggleable: false, open:true" style="overflow-y: auto;">
				<div data-dojo-attach-point="folderTreeDiv"></div>
			</div>

		</div>
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="reportPane" data-dojo-props="region:'center'">
			<div data-dojo-type="dijit/TitlePane" data-dojo-attach-point="folderDetailsPane" title="<b>Folder Details</b>" data-dojo-props="toggleable: false, open:true" style="height: 90%;">
				<div data-dojo-attach-point="folderGridDiv" style="width: 99%;height: 600px"></div>
			</div>
			<div data-dojo-type="dijit/TitlePane" data-dojo-attach-point="dashDetailsPane" title="<b>${type} Details</b>" data-dojo-props="toggleable: false, open:true">
				<div data-dojo-attach-point="dashGridDiv" style="width: 99%;height: 600px"></div>
			</div>

		</div>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="saveFolderDlg" title="Create Folder" style="width:300px;">
		<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="saveFolderForm">
			<label><b>Group <req>: </b></label>
			<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Group" data-dojo-attach-point="folderGroup" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=true required="true" style="width: 200px;">
			</div>
			<label style="margin-top: 10px;"><b>Folder Name <req>: </b></label>
			<div data-dojo-type="dijit/form/ValidationTextBox" title="Folder Name" data-dojo-attach-point="folderName" style="width: 200px" required></div>
			<div class="dijitDialogPaneActionBar" style="text-align:center">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="submitFolderBtn">Submit</button>
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelFolderBtn" type="button">Cancel</button>
			</div>
		</div>
	</div>
</div>