<div class="${baseClass}">
	<div class=" dijitDialogTitleBar" data-dojo-attach-point="headerDiv" id="headerDiv" style="padding-top:0px;padding-bottom:0px;cursor: default">
		<div data-dojo-attach-point="timeDiv" style="display: inline-block;font-size:10px;width: 25%;"></div>
		<div data-dojo-attach-point="titleDiv" style="display: inline-block;font-size:22px;width: 50%;text-align: center;" innerHTML=""></div>
		<div data-dojo-attach-point="versionDiv" style="display: inline-block;font-size:10px;right: 25%;top:11px;position:absolute" innerHTML=""></div>
		<div data-dojo-attach-point="statusDiv" style="display: inline-block;font-size:9px;right: 15%;top:0px;position:absolute" innerHTML=""></div>
		<div style="display: inline-block;position: absolute;right: 9%;"><img data-dojo-attach-point="avatarImg" style="cursor: pointer;" class="avatar-icon" src="images/user-default.png"></div>

		<div class="right" style="font-size:14px;position: absolute; top: -3px; right: 0px;" data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="dropdownButton">
			<div data-dojo-type="dijit/DropDownMenu">
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'dijitEditorIcon  dijitEditorIconSelectAll  '" data-dojo-attach-point="viewProfileBtn">View Profile</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'dijitIconEdit'" data-dojo-attach-point="changePasswordBtn">Change Password</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'themeIcon'" data-dojo-attach-point="changeThemeBtn">Themes</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'dijitIconConfigure'" data-dojo-attach-point="logoutButton">Logout</div>
			</div>
		</div>
	</div>
	<div id="notification_div" data-dojo-type="app/widgets/notification" style="height: 16px;"></div>
</div>