<div class="${baseClass}">
<div id="titleGroupA" data-dojo-type="dojox/widget/TitleGroup">
	<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Search By</b>'" selected="true" data-dojo-attach-point="searchTitlePane">
	<div data-dojo-type="dijit/form/Form" id="searchForm" data-dojo-attach-point="searchForm" encType="multipart/form-data" action="" method="">
		<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2, orientation:'vert', spacing:2,customClass:'ldesk-tbl'" id="tc1">
			<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2, orientation:'vert', spacing:2,customClass:'ldesk-tbl'" id="tc2">
			<div data-dojo-type="dijit.form.TextBox" data-dojo-props="intermediateChanges:true" name="accountName" title="Account Name" id="search_accountName" value=""></div>
			<div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="caseNumber" title="Case Number" id="search_casenumber" value=""></div>
			<div title="Priority" name="priority" data-dojo-type="dijit/form/FilteringSelect" id="search_priorityComboBox" required="false"></div>
			<div title="Status" name="status" data-dojo-type="dijit/form/FilteringSelect" id="search_statusComboBox" required="false"> </div>
			<div type="text" name="createdFrom" title="Created From" data-dojo-id="createdFrom" data-dojo-attach-point="createdFrom" value="" data-dojo-type="dijit/form/DateTextBox"  data-dojo-props="datePattern:'yyyy-MM-dd', strict:true" ></div>
			<div type="text" name="createdTo" title="Created To" data-dojo-id="createdTo" data-dojo-attach-point="createdTo" value="" data-dojo-type="dijit/form/DateTextBox"></div>
			<div data-dojo-type="dijit/form/ComboBox" name = "createdBy" title="Created By" data-dojo-attach-point="createdBy" id="search_createdBy" required="false"></div>
		</div>
		<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1, orientation:'vert', spacing:2,customClass:'ldesk-tbl'" id="tc3">
			<div data-dojo-type="dijit/form/ComboBox" name="caseType" title="Case Type" id="search_caseTypeComboBox" data-dojo-attach-point="caseTypeCB" placeHolder="Select a Case" required="false"></div>
			<div data-dojo-type="dijit/form/ComboBox" name="type" title="Type" id="search_typeComboBox" data-dojo-attach-point="typeCB" placeHolder="Select a Type" required="false"></div>
			<div data-dojo-type="dijit/form/ComboBox" name="subType" title="Sub-Type" data-dojo-attach-point="subType" id="search_subTypeComboBox" placeHolder="Select a SubType" required="false"></div>
		</div>
		</div>
		<hr>
		<div class="center">
		<div data-dojo-type="dijit/form/DropDownButton" style="display:none" data-dojo-attach-point= "previousSearches" >
			<span>Previous Searches</span>
			<div data-dojo-type="dijit/TooltipDialog" data-dojo-attach-point= "previousSearchesDlg" style= "width: 800px;">
			<div  data-dojo-attach-point= "previousSearchGrid" id="previous_seach_grid" style="margin-top: 1em; height:20em;" ></div>
			<hr>
			<div class="center">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="previousSearchAdd" >Add</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="previousSearchSearch">Search</button>
			</div>
			</div>
		</div>
		<button type="submit" data-dojo-attach-point='searchTicketButton' data-dojo-type='dijit/form/Button'>Search</button>
		<button data-dojo-type="dijit/form/Button" type="reset">Reset</button>
 		</div>
	</div>
</div>

<!-- </div> -->
	<div data-dojo-type="dijit/TitlePane" title="Result" style="margin-top: 1em; height:45%;display:none" id="resultDiv" data-dojo-props="title: '<b>Result</b>', open:false">
		<div data-dojo-type="dijit/layout/ContentPane" style="text-align: right">
		<div data-dojo-attach-point="createCaseButton" style="display: inline-block;padding-left:10px;text-align:center;">
			</div>
			<div style="display: inline-block;padding-left:10px;text-align:center;" data-dojo-type="dijit.form.Button" data-dojo-attach-point="mergeCases">Merge Cases</div>
		</div>
		<div  data-dojo-attach-point= "searchResultGrid" id="search_result_grid" style="margin-top: 1em; height:20em;" ></div>
	<hr>
	<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:2, orientation:'vert', spacing:2,labelWidth:'80%'" id="tc4">
		<div type="text" name="search_worklog" title="View Agent worklog" id="search_worklog"  data-dojo-props="disabled:true,rows:3" style="width:98%;" data-dojo-attach-point="agentWorkLog" value="" data-dojo-type="dijit/form/SimpleTextarea"></div>
		<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnViewWorklog" data-dojo-props="iconClass:'bookIcon', showLabel: false" type="button"></button>
		<div type="text" name="search_worklog" title="View Auto worklog" id="search_auto_worklog"  data-dojo-props="disabled:true,rows:3" style="width:98%;" data-dojo-attach-point="autoWorkLog" value="" data-dojo-type="dijit/form/SimpleTextarea"></div>
		<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnViewAutoWorklog" data-dojo-props="iconClass:'bookIcon', showLabel: false" type="button"></button>
	</div>
	</div>
    </div>
</div>


