<div class="${baseClass}">
    <div data-dojo-type="dijit/Dialog" title="User - Matching" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point = "showMembersDialog" style="width:1000px">
        <div data-dojo-attach-point="showMembersDialogDiv"></div>
        <div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn" type="button">Close</button>
		</div>
    
    </div>

</div>