<div class="${baseClass}">
	<div class="headerTitle" style="display: inline-block; width: 100%; height: 40px; padding-top: 10px;padding-bottom: 10px;background: #fffff0;margin-bottom: 10px; border: 1px solid #b5bcc7; ">
		<div style="width: auto; position: fixed;">
			<label style="padding-left: 10px;">User</label>
			<label style="padding-left: 10px; font-size: 14px;"> <b><span data-dojo-attach-point="userNameSpan"></span></b></label>
			<label style="padding-left: 10px; font-size: 12px;"><span data-dojo-attach-point="userIdSpan"></span></label>
		</div>
		<div style="width: auto; position: relative; padding-top: 5px;">
			<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="closeWindowBtn" style="float: right; padding-right: 1em">Close Window</div>
		</div>
	</div>
	<div style="display: flex;align-items: flex-start;align-content: center;height: 350px;">
		<div style="width: 15%;text-align: center;border: 1px solid #b5bcc7;margin-right: 10px;display: flex;align-items: center;padding: 5px;flex-wrap: wrap;height: 98%;align-content: center;justify-content: center">
			<img data-dojo-attach-point="userImg" src="images/user-default.png" class="avatar-preview">
			<div data-dojo-attach-point="buttonDiv" style="margin-top: 10px; margin-bottom: 10px; width: 100%;text-align: center;">
				<button style="display: inline;" data-dojo-type="dijit/form/Button" data-dojo-attach-point="browseBtn">Select Image</button>
				<input hidden type="file" name="file" accept="image/*" data-dojo-attach-point="fileUploader" multiple="false" data-dojo-props="accept:'image/png,image/jpeg', uploadOnSelect: false, force: 'html5'" />
				<button style="display: inline;" data-dojo-type="dijit/form/Button" data-dojo-attach-point="uploadButton" type="submit">Upload Image</button>
			</div>
			<div data-dojo-attach-point="status"></div>
		</div>
		<div data-dojo-type="dijit/TitlePane" data-dojo-attach-point="userInfo" title="<b>Details</b>" data-dojo-props="toggleable: false, open:true" style="width: 30%;margin-right: 10px;">
			<div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="userInfoTbl" data-dojo-props="cols:1,orientation:'horiz',spacing:2,customClass:'user-details'" style="height: 309px">
				<div data-dojo-type="dijit.form.TextBox" title="User Id" data-dojo-attach-point="userIdFld" data-dojo-props="disabled:true" value=""> </div>
				<div data-dojo-type="dijit.form.TextBox" title="User Name" data-dojo-attach-point="loginName" data-dojo-props="disabled:true" value=""> </div>
				<div data-dojo-type="dijit.form.TextBox" title="Full Name" data-dojo-attach-point="fullName" data-dojo-props="disabled:true" value=""></div>
				<div data-dojo-type="dijit.form.TextBox" title="Email Address" data-dojo-attach-point="emailAddress" data-dojo-props="disabled:true" value=""></div>
				<div data-dojo-type="dijit.form.TextBox" title="Office" data-dojo-attach-point="office" data-dojo-props="disabled:true" value=""></div>
				<div data-dojo-type="dijit.form.TextBox" title="Busy Status" data-dojo-attach-point="busyStatus" data-dojo-props="disabled:true" value=""></div>
				<div data-dojo-type="dijit.form.TextBox" title="Shift Group" data-dojo-attach-point="shiftGroup" data-dojo-props="disabled:true" value=""></div>
				<div data-dojo-type="dijit.form.TextBox" title="Field Nation User Id" data-dojo-attach-point="fnUserId" data-dojo-props="disabled:true"> </div>
				<div data-dojo-type="dijit.form.TextBox" title="Telcare User Id" data-dojo-attach-point="tcUserId" data-dojo-props="disabled:true"> </div>
				<div data-dojo-type="dijit.form.TextBox" title="Profile" data-dojo-attach-point="profileName" data-dojo-props="disabled:true"> </div>
				<textarea data-dojo-type="dijit.form.SimpleTextarea" title="Groups" data-dojo-attach-point="groups" data-dojo-props="disabled:true,rows:3" style="width: 100%"> </textarea>
				<div data-dojo-type="dijit.form.TextBox" title="Queues" data-dojo-attach-point="queues" data-dojo-props="disabled:true" style="width: 100%"> </div>
			</div>
		</div>
		<div data-dojo-type="dijit/TitlePane" data-dojo-attach-point="userInfo" title="<b>Profile - Allowed Actions</b>" data-dojo-props="toggleable: false, open:true" style="width: 30%;margin-right: 10px;">
			<div data-dojo-attach-point="profileDiv" style="height: 25.5em;width: 99%;"></div>
		</div>
		<div data-dojo-type="dijit/TitlePane" data-dojo-attach-point="userInfo" title="<b>Busy Status Changes - Last 7 Days</b>" data-dojo-props="toggleable: false, open:true" style="width: 25%;">
			<div data-dojo-attach-point="busyDiv" style="height: 25.5em;width: 99%;"></div>
		</div>
	</div>
	<div style="display: flex;align-items: flex-start;align-content: center;margin-top: 10px;">
		<div data-dojo-type="dijit/TitlePane" data-dojo-attach-point="userInfo" title="<b>Login History - Last 7 Days</b>" data-dojo-props="toggleable: false, open:true" style="width: 50%;margin-right: 10px;">
			<div data-dojo-attach-point="historyDiv" style="height: 25em;width: 99%;"></div>
		</div>
		<div data-dojo-type="dijit/TitlePane" data-dojo-attach-point="userInfo" title="<b>Activity - Last 7 Days</b>" data-dojo-props="toggleable: false, open:true" style="width: 50%;">
			<div data-dojo-attach-point="activityDiv" style="height: 25em;width: 99%;"></div>
		</div>
	</div>
</div>