<div class="${baseClass}" style="height: 100%;width: 100%;">
	<div class="headerTitle" style="display: inline-block; width: 100%; padding-top: 10px;padding-bottom: 10px;background: #fffff0;margin-bottom: 10px; border: 1px solid #b5bcc7;">
		<div style="display: inline-block;width: 10%;vertical-align: middle;">
			<label style="padding-left: 10px;"><b>Case</b></label>
			<label style="padding-left: 10px; font-size: 14px;"> <b><span data-dojo-attach-point="caseNameSpan"></span></b></label>
		</div>
		<div style="display: inline-block;width: 50%;vertical-align: middle;">
			<label style="padding-left: 10px; font-size: 12px;"><b>Account</b></label>
			<label style="padding-left: 10px; font-size: 14px;"> <b><span data-dojo-attach-point="accountNameSpan"></span></b></label>
			<label style="padding-left: 10px;"> <b><span data-dojo-attach-point="accountIdSpan"></span></b></label>
		</div>

		<div style="display: inline-flex;width: 35%;text-align: right;justify-content: right;align-items: center;">
			<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="refreshBtn" data-dojo-props="disabled:false" style="padding-left: 5px;">Refresh </div>
			<div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="caseActionBtn" style="padding-left: 5px;" data-dojo-props="disabled:false">
				<span>Actions</span>
				<div data-dojo-type="dijit/DropDownMenu" data-dojo-attach-point="caseActionMenu">
					<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="addNetworkEventBtn" action="case-add-to-network" recordType="${recordType}">Add Network Event</div>
					<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="escalateBtn" action="case-escalate" recordType="${recordType}">Escalation Request</div>
					<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="workOrderBtn" action="wo-create">New Work Order</div>
					<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="closeCaseBtn" action="case-close" recordType="${recordType}">Close Case</div>
					<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="cancelCaseBtn" action="case-cancel" recordType="${recordType}">Cancel Case</div>
					<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="convertToIncBtn" action="case-convert" recordType="${recordType}">Convert To Incident
					</div>
					<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="taskBtn" action="case-create-task" recordType="${recordType}">Create Task
					</div>
					<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="sendOutageBtn" action="case-send-outage-notice" recordType="${recordType}">Outage Notice
					</div>
					<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="sendNoticeBtn" action="case-send-notice" recordType="${recordType}">Send Notice
					</div>
				</div>
			</div>
			<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="caseEditBtn" data-dojo-props="disabled:false" style="padding-left: 5px;" action="case-edit" recordType="${recordType}">Edit </div>
			<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="caseSaveBtn" style="display:none; padding-left: 5px;">Save</div>
			<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="caseDiscardBtn" style="display:none; padding-left: 5px;">
				Discard Changes</div>
			<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="caseCloseBtn" data-dojo-props="disabled:false" style="padding-left: 5px;">
				Close Window</div>
		</div>
	</div>

	<div style="height: 90%; width:100%;">
		<div data-dojo-attach-point="autoCloseSetDiv" style="display: none;height: 10px;width: 100%;text-align: center;align-content: center;justify-content: center;align-items: center; color: red;font-weight: bold;"></div>
		<div data-dojo-type="dijit/layout/TabContainer" style="width: 100%; height: 100%;" data-dojo-attach-point="viewCaseTabContainer">
			<div data-dojo-type="dijit/layout/ContentPane" title="Details" data-dojo-attach-point="caseDetails" data-dojo-props="selected:true">
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Basic Information</b>',open:true" data-dojo-attach-point="caseMgmntPanel" style="padding-top: 10px">
					<div data-dojo-type="app/widgets/caseManagement" data-dojo-attach-point="viewCaseManagement" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
				</div>
				<div data-dojo-attach-point="collectionCaseDiv" style="display: none;">
					<div data-dojo-attach-point="coltreatMgmntPanel" class="flex-row">
						<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Basic Collection Information</b>',open:true" data-dojo-attach-point="colMgmntPanel" style="width:50%;">
							<div data-dojo-type="app/widgets/collectionManagement" data-dojo-attach-point="viewCollecManagement" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
						</div>
						<div data-dojo-attach-point="treatLocMgmntPanel" class="flex-column" style="width: 50%;">
							<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Treatment Information</b>',open:true" data-dojo-attach-point="treatPanel">
								<div data-dojo-type="app/widgets/collectionTreatment" data-dojo-attach-point="viewCollecTreatment" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
							</div>
							<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Location Information</b>',open:true" data-dojo-attach-point="locPanel">
								<div data-dojo-type="app/widgets/collectionLocation" data-dojo-attach-point="viewCollecLocation" data-dojo-props="lingoController: this.lingoController,info:this.info,viewAccParent:this.viewAccParent"></div>
							</div>
						</div>
					</div>
					<div data-dojo-attach-point="colClosurePanel" class="flex-row">
						<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Closure Details</b>',open:true" data-dojo-attach-point="colClosureDtlPanel" style="width:50%;">
							<div data-dojo-type="app/widgets/collectionClosureDetails" data-dojo-attach-point="viewColClosureDetails" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
						</div>
						<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Top Parent Information</b>',open:true" data-dojo-attach-point="parPanel" style="flex:1">
							<div data-dojo-type="app/widgets/accParentInfo" data-dojo-attach-point="viewAccParent" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
						</div>
					</div>
				</div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Location Information</b>',open:true" data-dojo-attach-point="caseLocPanel">
					<div data-dojo-type="app/widgets/caseLocationInfo" data-dojo-attach-point="viewCaseLocInfo" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
				</div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Circuit Information</b>',open:true" data-dojo-attach-point="caseCircuitPanel">
					<label style="display: inline;padding-right: 10px"><b>Circuit Information:</b></label>
					<div data-dojo-type="dijit/form/SimpleTextarea" title="Circuit Information" data-dojo-attach-point="viewCrctInfo" data-dojo-props="rows:3" style="width: 500px;display: inline-block;" disabled>
					</div>
				</div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Contact Information</b>',open:true" data-dojo-attach-point="caseContactPanel">
					<div data-dojo-type="app/widgets/caseContactInfo" data-dojo-attach-point="viewCaseContactInfo" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
				</div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Primary Outage Contact</b>',open:true" data-dojo-attach-point="casePrimaryContactPanel">
					<!-- <label style="display: inline;padding-right: 10px"><b>Contact Name: </b> </label>
					<div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="primaryContactName" title="Contact Name" data-dojo-attach-point="viewPrimaryContactName" style="width: 250px;display: inline-block;" disabled></div> -->
					<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:4,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" data-dojo-attach-point="primaryOutageTable">
						<div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" name="primaryContactName" title="Contact Name" data-dojo-attach-point="viewPrimaryContactName" style="width: 250px;display: inline-block;" disabled></div>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" title="Contact Phone" data-dojo-attach-point="viewPrimaryContactPhone" style="width: 250px;display: inline-block;" disabled></div>
						<div data-dojo-type="dijit/form/TextBox" data-dojo-props="intermediateChanges:true" title="Contact Email" data-dojo-attach-point="viewPrimaryContactEmail" style="width: 250px;display: inline-block;" disabled></div>

					</div>
				</div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Closure Details</b>',open:true" data-dojo-attach-point="caseClosureDtlPanel">
					<div data-dojo-type="app/widgets/caseClosureDetails" data-dojo-attach-point="viewCaseClosureDetails" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
				</div>
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Case Event Details</b>',open:true" data-dojo-attach-point="caseEventDtlPanel">
					<div data-dojo-type="app/widgets/caseEventDetails" data-dojo-attach-point="viewCaseEventDetails" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
				</div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" title="Notes" data-dojo-attach-point="caseNotes" style="overflow: auto;" data-dojo-props="selected:false" data-dojo-attach-event='onShow: initCaseNotes'>
				<div data-dojo-type="app/widgets/caseNotes" data-dojo-attach-point="viewCaseNotes" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" title="Emails" data-dojo-attach-point="caseEmails" style="overflow: auto;" data-dojo-props="selected:false" data-dojo-attach-event='onShow: initCaseEmails'>
				<div data-dojo-type="app/widgets/caseEmails" data-dojo-attach-point="viewCaseEmails" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" title="Attachments" data-dojo-attach-point="caseAttachments" data-dojo-props="selected:false" data-dojo-attach-event='onShow: initCaseAttachments'>
				<div data-dojo-type="app/widgets/caseAttachments" data-dojo-attach-point="viewCaseAttachments" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" title="Related" data-dojo-attach-point="caseRelated" data-dojo-props="selected:false" data-dojo-attach-event='onShow: initRelatedInfo'>
				<div data-dojo-type="app/widgets/caseRelatedInfo" data-dojo-attach-point="viewCaseRelatedInfo" data-dojo-props="lingoController: this.lingoController,info:this.info"></div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" title="Work Orders" data-dojo-attach-point="caseWorkOrders" data-dojo-props="selected:false" data-dojo-attach-event='onShow: initWOInfo' action="case-view-workorder" recordType="${recordType}">
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Work Orders</b>',open:true" data-dojo-attach-point="caseWorkOrderPanel">
					<!-- <div style="display: inline-block;width: 100%;"> -->
					<!-- <div style="width: 70%;"><label><b>Please click reload button if you have created any new Work
									Orders</b></label></div> -->
					<div data-dojo-attach-point="refreshDiv" style="padding-bottom: 10px;display: flex;justify-content: flex-end;width: 99%;">
						<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="woReloadBtn" class="reload-btn" style="padding-right: 0px;" data-dojo-props="iconClass:'reloadIcon',showLabel: false">
							<div>Reload</div>
						</div>
						<div data-dojo-attach-point="reloadingDiv" class="" style="text-align:right;display:none;color: blue;padding-right: 10px;margin-left: -60px">
							<img src="images/loading_icon.gif" style="width: 15px; height: 15px;display: inline-block">
							<label data-dojo-attach-point="reloadLabel" style=" font-weight: bold; display: inline-block;">Reloading
								...</label>
						</div>
					</div>
					<!-- </div> -->
					<div data-dojo-attach-point="caseWorkOrderdiv" style="width: 99%;height:300px"></div>
				</div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" title="Tasks" data-dojo-attach-point="caseTaks" data-dojo-props="selected:false" data-dojo-attach-event='onShow: initTaskInfo' action="case-view-task" recordType="${recordType}">
				<div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<b>Tasks</b>',open:true" data-dojo-attach-point="caseTaskPanel">
					<!-- <div style="display: inline-block;width: 100%;"> -->
					<!-- <div style="width: 70%;"><label><b>Please click reload button if you have created any new Work
													Orders</b></label></div> -->
					<div data-dojo-attach-point="refreshDiv" style="padding-bottom: 10px;display: flex;justify-content: flex-end;width: 99%;">
						<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="taskReloadBtn" class="reload-btn" style="padding-right: 0px;" data-dojo-props="iconClass:'reloadIcon',showLabel: false">
							<div>Reload</div>
						</div>
						<div data-dojo-attach-point="reloadingDiv" class="" style="text-align:right;display:none;color: blue;padding-right: 10px;margin-left: -60px">
							<img src="images/loading_icon.gif" style="width: 15px; height: 15px;display: inline-block">
							<label data-dojo-attach-point="reloadLabel" style=" font-weight: bold; display: inline-block;">Reloading
								...</label>
						</div>
					</div>
					<!-- </div> -->
					<div data-dojo-attach-point="caseTaskDiv" style="width: 99%;height:300px"></div>
				</div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" title="Outage Notice" data-dojo-attach-point="caseOutageNotice" data-dojo-props="selected:false" data-dojo-attach-event='onShow: initOutageInfo' action="case-view-outage-notice" recordType="${recordType}">

				<!-- <div style="display: inline-block;width: 100%;"> -->
				<!-- <div style="width: 70%;"><label><b>Please click reload button if you have created any new Work
													Orders</b></label></div> -->
				<div data-dojo-attach-point="refreshDiv" style="padding-bottom: 10px;display: flex;justify-content: flex-end;width: 99%;">
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="outageReloadBtn" class="reload-btn" style="padding-right: 0px;" data-dojo-props="iconClass:'reloadIcon',showLabel: false">
						<div>Reload</div>
					</div>
					<div data-dojo-attach-point="reloadingDiv" class="" style="text-align:right;display:none;color: blue;padding-right: 10px;margin-left: -60px">
						<img src="images/loading_icon.gif" style="width: 15px; height: 15px;display: inline-block">
						<label data-dojo-attach-point="reloadLabel" style=" font-weight: bold; display: inline-block;">Reloading
							...</label>
					</div>
				</div>
				<!-- </div> -->
				<div data-dojo-attach-point="caseOutageDiv" style="width: 99%;height:300px"></div>

			</div>
		</div>
	</div>
</div>