<div class="${baseClass}">
	<div class="headerTitle" style="padding-top: 10px;padding-bottom: 10px;background: #fffff0;margin-bottom: 10px; border: 1px solid #b5bcc7; ">
		<div style="padding:10px;display: flex; justify-content:space-between; align-items:center">
			<div>
				<label>Dashboard</label>
				<label style="font-size: 14px;"> <b><span data-dojo-attach-point="dbNameSpan"></span></b></label>
				<label style="font-size: 12px;"><span data-dojo-attach-point="dbIdSpan"></span></label>
			</div>
			<div>
				<div data-dojo-attach-point="buttonDiv" style="display: inline-block;">
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="addRptBtn" style="display: inline-block;padding-left: 5px" action="dashboard-add-report">Add Report</div>
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="cloneBtn" style="display: inline-block;padding-left: 5px" action="dashboard-clone">Clone</div>
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="editBtn" style="display: inline-block;padding-left: 5px" action="dashboard-edit">Edit</div>
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="saveBtn" style="padding-left: 5px;display: none;">Save</div>
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="deleteBtn" style="display: inline-block;padding-left: 5px" action="dashboard-delete">Delete</div>
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="resetBtn" style="padding-left: 5px;display: none;">Reset</div>
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="scheduleBtn" style="display: inline-block;padding-left: 5px" action="dashboard-schedule">Schedule</div>
				</div>
				<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="closeWindowBtn" style="display: inline-block;padding-left: 5px">Close Window</div>
			</div>
		</div>
	</div>
	<div data-dojo-attach-point="errorDiv" style="height: 300px;justify-content: center;align-items: center;display: none;"><label style="font-weight: bold;color: red;">You do not have permission to view this Dashboard!!</label></div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="dashboardDiv" style="border: 1px solid #b5bcc7;width: 99%;min-width: 0;display: flex; flex-direction: row;flex-wrap: wrap; display: none"></div>
	<div id="dashboard_${dbId}" class="grid-stack" data-dojo-attach-point="gridStackDiv"></div>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="addRptDlg" title="Add Report" style="width:70%;">
		<div class="dijitDialogPaneContentArea">
			<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="addRptForm">
				<div data-dojo-type="dijit/Fieldset" data-dojo-props="toggleable: false" style="width: 97%">
					<legend>Search</legend>
					<div style="margin-top: 5px;">
						<label style="display: inline-block;"><b>Report Name: </b></label>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Report Name" data-dojo-attach-point="searchName" style="width: 200px;display: inline-block;"></div>
						<button dojoType="dijit.form.Button" data-dojo-attach-point="searchBtn" iconClass="dijitIconSearch" showLabel="false" type="button">Search</button>
					</div>
					<div style="margin-top: 10px;">
						<label style="display: inline-block;"><b>Group: </b></label>
						<div data-dojo-type="dijit/form/FilteringSelect" class="required" title="Group" data-dojo-attach-point="folderGroup" data-dojo-props="labelAttr:'name',labelType:'text'" sortByLabel=true style="width: 250px;display: inline-block;">
						</div>
						<label style="display: inline-block;"><b>Folder: </b></label>
						<div data-dojo-type="dijit/form/ComboBox" class="required" title="Folder" data-dojo-attach-point="folderName" data-dojo-props="labelAttr:'name',labelType:'text'" style="width: 250px;display: inline-block">
						</div>
					</div>
					<div style="margin-top: 10px;">
						<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="createdByBtn">Created By Me</button>
					</div>
				</div>
				<label style="font-size: 12px;color: green;margin-top: 10px;">(Select a Report by click on the row)</label>
				<div data-dojo-attach-point="reportGridDiv" style="width: 99%;"> </div>
				<div style="text-align: center;margin-top: 10px;">
					<label style="font-weight: bold;display: inline-block;">Selected Report: </label>
					<div data-dojo-type="dijit/form/ValidationTextBox" title="Report Name" data-dojo-attach-point="selReportName" style="width: 150px" disabled style="display: inline-block;"></div>
					<label style="font-weight: bold;display: inline-block;">Selected Report Type: </label>
					<div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="selReportType" title="Report Type" style="width: 150px" required>
						<option value="" selected>Select a Report Type</option>
						<option value="total">Total Only</option>
						<option value="summary">Summary</option>
						<option value="chart">Chart</option>
						<option value="details">Details</option>
					</div>
				</div>
			</div>
			<div class="dijitDialogPaneActionBar" style="text-align:center">
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelSearchBtn" type="button">Cancel</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="addBtn">Add</button>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="configureDlg" title="Configure" style="width:50%;">
		<div class="dijitDialogPaneContentArea">
			<div style="display: flex;width: 100%;">
				<div data-dojo-type="dijit/Fieldset" data-dojo-props="toggleable: false">
					<legend>Range</legend>
					<div class="total-report-slider" id="total-report-slider" style="margin-bottom: 5px;"></div>
					<div class="row" style="display: flex;align-items: center;justify-content: space-between;">
						<div style="display: flex;align-items: center;">
							<label style="display: inline-block;"><b>Min Value: </b></label>
							<div data-dojo-type="dijit/form/TextBox" title="Min Value" data-dojo-attach-point="minValue" style="width: 50px; display: inline-block;padding-right: 5px" value="0"></div>
							<input type="color" data-dojo-attach-point="range1Color" value="#008000" style="margin-left: 5px;">
						</div>
						<div>
							<label style="display: inline-block;"><b>Range 1: </b></label>
							<div data-dojo-type="dijit/form/TextBox" title="Range 1" data-dojo-attach-point="range1Value" style="width: 50px" style="display: inline-block;" value="33" disabled></div>
						</div>
						<input type="color" data-dojo-attach-point="range2Color" value="#FFA500">
						<div>
							<label style="display: inline-block;"><b>Range 2: </b></label>
							<div data-dojo-type="dijit/form/TextBox" title="Range 2" data-dojo-attach-point="range2Value" style="width: 50px" style="display: inline-block;" value="66" disabled></div>
						</div>
						<div style="display: flex;align-items: center;">
							<label style="display: inline-block;"><b>Max Value: </b></label>
							<div data-dojo-type="dijit/form/TextBox" title="Max Value" data-dojo-attach-point="maxValue" style="width: 50px;display: inline-block;padding-right: 5px" value="100"></div>
							<input type="color" data-dojo-attach-point="range3Color" value="#ff0000" style="margin-left: 5px;">
						</div>
					</div>
				</div>
				<div data-dojo-type="dijit/Fieldset" data-dojo-props="toggleable: false" style="width: 30%;margin-left: 5px;">
					<legend>Preview</legend>
					<div class="report-total" id="preview_total" style="color:#005000" data-dojo-attach-point="previewTotal">3</div>
				</div>
			</div>
		</div>
		<div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelConfigBtn" type="button">Cancel</button>
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="updateConfigBtn">Update</button>
		</div>
	</div>
</div>