<div class="${baseClass}">>        
    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="QBRBillingHistory" data-dojo-props="destroyOnClose : false,closable: false" style="width: 500px" title="Billing History">
    <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1,orientation:'vert',spacing:2,customClass:'searchtable'">
         <div data-dojo-type="dijit/form/ValidationTextBox" title="billinghistory" data-dojo-attach-point="bhistory" data-dojo-props="tooltipPosition:['after']" ></div>   
        <div data-dojo-type="dijit/form/DateTextBox" title="BillCycleDate" data-dojo-attach-point="billcycledate" data-dojo-props="tooltipPosition:['after']" ></div>   
          <div data-dojo-type="dijit/form/ValidationTextBox" title="Invoice Amount" data-dojo-attach-point="Amount" data-dojo-props="tooltipPosition:['after']" ></div> 
      <div data-dojo-type="dijit/form/ValidationTextBox" title="TopParentAppId" data-dojo-attach-point="topparentappId" data-dojo-props="tooltipPosition:['after']" ></div> 
    <div data-dojo-type="dijit/form/ValidationTextBox" title="Account" data-dojo-attach-point="accountname" data-dojo-props="tooltipPosition:['after']" ></div>
     <div data-dojo-type="dijit/form/ValidationTextBox" title="Billing Name" data-dojo-attach-point="billingname" data-dojo-props="tooltipPosition:['after']" ></div>
    
    
    </div>

          <div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn" type="button">Close</button>
		</div>
        
       
</div>

