<div class="${baseClass}">
    <div data-dojo-type="dijit/Dialog" title="Manual Billing Completed" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="woManualBilling" style="width:900px; background-color: white">
        <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="billingForm">
            <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" data-dojo-attach-point="billingWOTable" style="margin-left: 1%; margin-right: 1%;">
                <div data-dojo-type="dijit/form/CurrencyTextBox" data-dojo-props="constraints:{fractional:true},currency:'USD',invalidMessage:'Invalid amount.'" title="Total Billed to site<req>" data-dojo-attach-point="totalBill" required="true">
                </div>
            </div>
        </div>
        <div class="dijitDialogPaneActionBar" style="text-align:center">
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn" type="button">Close</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitBtn">Submit</button>
        </div>
    </div>
</div>