<div class="${baseClass}" style="width: 98%;height: 100%;">
	<div
		class="headerTitle" style="display: inline-block; width: 100%; height: 40px; padding-top: 10px;padding-bottom: 10px;background: #fffff0;margin-bottom: 10px; border: 1px solid #b5bcc7; ">
		<div style="width: auto; position: fixed;">
			<label style="padding-left: 10px;">Account</label>
			<label style="padding-left: 10px; font-size: 14px;"> <b><span
						data-dojo-attach-point="accountNameSpan"></span></b></label>
			<label style="padding-left: 10px; font-size: 12px;"><span data-dojo-attach-point="appIdSpan"></span></label>
		</div>
		<div style="width: auto; position: relative; padding-top: 5px;">
			<div data-dojo-type="dijit.form.Button" data-dojo-attach-point="acctCloseWindowBtn"
				style="float: right; padding-right: 1em">Close Window</div>
		</div>
	</div>
	<div style="height: 88%; width:100%;">
		<div data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="viewAccountDetailsTabContainer"
			style="width: 100%; height: 100%;">
			<div data-dojo-type="dijit/layout/ContentPane" title="Account Details" data-dojo-attach-point="accountInfo"
				data-dojo-props="selected:true">
				<div data-dojo-type="dijit/TitlePane"
					data-dojo-props="title: '<b>Account Information</b>',open:true,toggleable: false" selected="true"
					data-dojo-attach-point="AccountMgmntPanel">
					<div data-dojo-type="dojox.layout.TableContainer"
						data-dojo-props="cols:5,orientation:'vert',spacing:4,customClass:'ldesk-tbl'">
						<div data-dojo-type="dijit/form/ValidationTextBox" title="App ID"
							data-dojo-attach-point="app_Id" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Parent App ID"
							data-dojo-attach-point="parent_App_Id" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Top Parent App ID"
							data-dojo-attach-point="Top_parent_App_Id" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Pay By App Id"
							data-dojo-attach-point="pay_by_Account_Id" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Status"
							data-dojo-attach-point="account_status" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Account Name"
							data-dojo-attach-point="account_Name" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Account Manager"
							data-dojo-attach-point="acc_Manager" required="true" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="CRM Name"
							data-dojo-attach-point="crm_Name" disabled> </div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Billing Cycle"
							data-dojo-attach-point="billing_Cycle" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Billing System"
							data-dojo-attach-point="billing_system" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Created Date"
							data-dojo-attach-point="created_Date" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Service Start"
							data-dojo-attach-point="service_start" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Modified Date"
							data-dojo-attach-point="modified_Date" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Sales Rep Id"
							data-dojo-attach-point="sales_repId" disabled> </div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Location Address"
							data-dojo-attach-point="loc_Address" style="width: 300px;" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Street No"
							data-dojo-attach-point="streetNo" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Street Name"
							data-dojo-attach-point="streetName" disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="City" data-dojo-attach-point="city"
							disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="State" data-dojo-attach-point="state"
							disabled></div>
						<div data-dojo-type="dijit/form/ValidationTextBox" title="Zip" data-dojo-attach-point="zip"
							disabled></div>
					</div>
				</div>
			</div>

			<div data-dojo-type="dijit/layout/ContentPane" title="Contacts" data-dojo-attach-point="contactsTab">
				<div data-dojo-attach-point="contactDiv" style="margin-top: 1em; width:99%;"></div>

			</div>

			<div data-dojo-type="dijit/layout/ContentPane" title="Services" data-dojo-attach-point="servicesTab">
				<div data-dojo-attach-point="serviceDiv" style="margin-top: 1em; width:99%;"></div>
			</div>

			<div data-dojo-type="dijit/layout/ContentPane" title="Hierarchy" data-dojo-attach-point="hierarchyTab"
				data-dojo-attach-event='onShow: initHierarchy'>
				<div data-dojo-type="app/widgets/accountHierarchy" data-dojo-attach-point="accountHierarchy"
					data-dojo-props="lingoController: this.ctrl"></div>
			</div>

		</div>

	</div>
</div>