<div class="${baseClass}">
	<div data-dojo-type="dijit/Dialog" title="Add Network Case" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="addNetworkDialog" style="width:70%; background-color: white">
		<div data-dojo-attach-point="networkDiv" style="margin-top: 1em; width:99%;"></div>
		<div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelBtn" type="button">Cancel</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="addBtn" type="button">Add</button>
		</div>


	</div>
</div>