<div class="${baseClass}">
	<div data-dojo-type="dijit/Dialog" title="Add Notes" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="addNotesDialog" style="width:600px; background-color: white">
		<div class="dijitDialogPaneContentArea">
			<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="addNotesForm">
				<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
					<div data-dojo-type="dijit/form/FilteringSelect" title="Note Type<req>" data-dojo-attach-point="noteTypeSelect" placeholder="Select notes type" data-dojo-props="labelAttr:'id',labelType:'text'" sortByLabel=true required="true"></div>
					<div data-dojo-type="dijit/form/FilteringSelect" title="Note Sub Type<req>" data-dojo-attach-point="noteSubTypeSelect" placeholder="Select notes sub type" sortByLabel=true required="true" disabled>
					</div>
					<div data-dojo-type="app/view/ValidationTextarea" title="Note Text<req>" data-dojo-attach-point="noteText" data-dojo-props="rows:3" style="width: 400px" required="true">
					</div>
				</div>
			</div>
		</div>
		<div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn" type="button">Close</button>
			<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitBtn">Save</button>
		</div>
	</div>

</div>