<div class="${baseClass}">
	<div data-dojo-type="dijit/Dialog" class="" title="Add Cases to Network Event: ${data.caseId}" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="addToDlg" style="width:1000px;">
		<div class="dijitDialogPaneContentArea">
			<div data-dojo-type="dijit/Fieldset" data-dojo-props="toggleable: false">
				<legend>Search</legend>

				<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:4,orientation:'vert',spacing:2,labelWidth: 250,customClass:'add-to-tbl'" style="padding-bottom: 0.4em;">
					<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="addDlgAppId" title="App Id" placeholder="Enter AppId" style="width: 150px;"></div>
					<div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="addDlgCaseId" title="Case Id" placeholder="Enter Case Id" style="width: 150px;"></div>
					<div data-dojo-type="dijit/form/TextBox" title="Case Type" data-dojo-attach-point="addDlgCaseType" value="Incident" style="width: 150px;" disabled>
					</div>
					<div data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="searchBtn" data-dojo-props="spanLabel:true" style="width: 200px;">Search</div>
				</div>
			</div>
			<div data-dojo-attach-point="caseResultDiv" style="margin-top: 1em; height:20em;width:98%"></div>

		</div>

		<div class="dijitDialogPaneActionBar" style="text-align: center">
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="closeBtn">Close</button>


			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="addBtn">Add</button>

		</div>
	</div>

</div>