<div class="${baseClass}">>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="resetPassword" data-dojo-props="destroyOnClose : true,closable: true" style="width: 900px" title="Change Password">
		<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="passform">
			<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1,orientation:'vert',spacing:2,customClass:'searchtable'">
				<div data-dojo-type="dijit/form/ValidationTextBox" title="User Name" data-dojo-attach-point="userName" data-dojo-props="disabled:true" value="${userInfo.loginName}"> </div>
				<div data-dojo-type="dijit/form/ValidationTextBox" type="password" title="Password" data-dojo-attach-point="password" data-dojo-props="missingMessage:'Please enter Password',tooltipPosition:['after']" required="true">
				</div>
			</div>
		</div>
		<div class="dijitDialogPaneActionBar" style="text-align:center">
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="cancelButton">Cancel</button>
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="submitBtn">Submit</button>
		</div>
	</div>
</div>