<div class="${baseClass}">
    <div data-dojo-type="dijit/Dialog" title="Cancel Case" data-dojo-props="destroyOnClose : true,closable: true"
        data-dojo-attach-point="cancelCaseDialog" style="width:900px; background-color: white">
        <div class="dijitDialogPaneContentArea">
            <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="formInc">
                <div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="IncTable"
                    data-dojo-props="cols:2,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
                    <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="status" title="Status"
                        data-dojo-props="disabled:true" style="width: 250px;">
                        <option selected>Cancelled</option>
                    </div>
                    <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="subStatus"
                        title="Sub Status<req>" placeholder="Select a Sub Status"
                        data-dojo-props="missingMessage:'Please Select the subStatus',tooltipPosition:['after']"
                        style="width: 250px;">
                    </div>
                    <div data-dojo-type="dijit/form/FilteringSelect" title="Post-Mortem<req>"
                        data-dojo-attach-point="postMortem" placeholder="Select a PostMortem"
                        data-dojo-props="missingMessage:'Please Select the postMortem',tooltipPosition:['after']"
                        style="width: 250px;"></div>
                    <textarea data-dojo-type="app/view/ValidationTextarea" title="Cancellation Description<req>"
                        data-dojo-attach-point="cancelDescIncident"
                        data-dojo-props="rows:4,missingMessage:'Please Select the Cancellation Description',tooltipPosition:['after']"
                        style="width:300px" required="true" rows="3"></textarea>
                </div>
            </div>
            <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="formInq">
                <div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="InqTable"
                    data-dojo-props="cols:1,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
                    <textarea data-dojo-type="app/view/ValidationTextarea" title="Cancellation Description<req>"
                        data-dojo-attach-point="cancelDescInquiry" colspan=2
                        data-dojo-props="rows:4,missingMessage:'Please Select the Cancellation Description',tooltipPosition:['after']"
                        style="width:300px" required="true" rows="3"></textarea>
                </div>
            </div>
            <div class="dijitDialogPaneActionBar" style="text-align:center">
                <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn"
                    type="button">Close</button>
                <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitBtn">Submit</button>
            </div>
        </div>
    </div>
</div>