<div class="${baseClass}">
    <div data-dojo-type="dijit/Dialog" title="Cancel Work Order" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="cancelWorkOrderDlg" style="width:900px; background-color: white">
        <div class="dijitDialogPaneContentArea">
            <legend><b>Warning</b></legend><br>
            <label id="cp_cancelLabel"><span data-dojo-attach-point="cancelLabel"></span></label>
        </div>
        <div class="dijitDialogPaneActionBar" style="text-align:center">
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn" type="button">Close</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitBtn">Submit</button>
        </div>
    </div>
</div>