<div class="${baseClass}">
    <div data-dojo-type="dijit/Dialog" title="Close Case" data-dojo-props="destroyOnClose : true,closable: true" data-dojo-attach-point="closeCaseDialog" style="width:900px; background-color: white">
        <div class="dijitDialogPaneContentArea">
            <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="formMain">
                <div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="optionTable" data-dojo-props="cols:2,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
                    <div data-dojo-type="dijit/form/CheckBox" title="Close Case" value="Manual" data-dojo-props="checked:true" data-dojo-attach-point="manualCloseCB" data-dojo-attach-event="click:selectCloseAction"></div>
                    <div data-dojo-type="dijit/form/CheckBox" title="24 Hour Auto Close" value="Auto" data-dojo-props="checked:false" data-dojo-attach-point="autoCloseCB" data-dojo-attach-event="click:selectCloseAction"></div>
                </div>
            </div>
            <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="formInc">
                <div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="incidentTable" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
                    <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="resolution_T1" title="Resolution(Tier 1)<req>" placeholder="Select a Resolution Tier 1" data-dojo-props="missingMessage:'Please select the Resolution Tier 1',tooltipPosition:['after']" style="width: 250px;" required="true"> </div>
                    <div data-dojo-type="dijit/form/FilteringSelect" title="Resolution(Tier 2)<req>" data-dojo-attach-point="resolution_T2" data-dojo-props="missingMessage:'Please select the Resolution Tier 2',tooltipPosition:['after']" style="width: 250px" required="true">
                    </div>
                    <div data-dojo-type="dijit/form/FilteringSelect" title="Resolution(Tier 3)<req>" data-dojo-attach-point="resolution_T3" data-dojo-props="missingMessage:'Please select the Resolution Tier 3',tooltipPosition:['after']" style="width: 250px" required="true">
                    </div>
                    <div data-dojo-type="dijit/form/FilteringSelect" title="Post-Mortem<req>" data-dojo-attach-point="post_Mortem" placeholder="Select a PostMortem" data-dojo-props="missingMessage:'Please select the postMortem',tooltipPosition:['after']" style="width: 250px;" required="true"></div>
                    <div data-dojo-type="dijit/form/CheckBox" title="First Call Resolution" data-dojo-props="checked:false" data-dojo-attach-point="firstcallresolution">
                    </div>
                    <textarea data-dojo-type="app/view/ValidationTextarea" title="Resolution Description<req>" data-dojo-attach-point="resDescriptionIncident" data-dojo-props="missingMessage:'Please enter the Resolution Description', tooltipPosition:['after'], rows:3" style="width:300px" required="true" rows="3"></textarea>

                </div>
            </div>
            <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="formInq">
                <div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="inquiryTable" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">

                    <textarea data-dojo-type="app/view/ValidationTextarea" title="Resolution Description<req>" data-dojo-attach-point="resDescriptionInquiry" data-dojo-props="missingMessage:'Please enter the Resolution Description', tooltipPosition:['after'], rows:3" style="width:300px" required="true" rows="3"></textarea>
                    <div data-dojo-type="dijit/form/FilteringSelect" title="Resolution Code<req>" placeholder="Select Resolution Code" data-dojo-attach-point="resCode" data-dojo-props="disabled:false" required="true"></div>
                    <div data-dojo-type="dijit/form/CheckBox" title="First Call Resolution" data-dojo-props="checked:false" data-dojo-attach-point="firstcallresolutionInq"></div>
                    <div data-dojo-type="dijit/form/ValidationTextBox" maxLength=255 title="Shipping Tracking Number<req>" data-dojo-attach-point="shipTrackNum"></div>
                </div>
            </div>
        </div>
        <div class="dijitDialogPaneActionBar" style="text-align:center">
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="closeBtn" type="button">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitBtn">Submit</button>
        </div>
    </div>
</div>