<div class="${baseClass}" style="height: 100%;width: 100%;">
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="colLocForm" action="">
        <div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:4,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" data-dojo-attach-point="colLocFormTable">

            <div data-dojo-type="dijit/form/ValidationTextBox" title="Account Name" data-dojo-attach-point="accountName"></div>
            <div data-dojo-type="dijit/layout/ContentPane" title="Account Id">
                <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="accountId" title="Account Id" style="width: 150px;" data-dojo-props="disabled:true" required="true"></div>
                <button dojoType="dijit.form.Button" data-dojo-attach-point="showSearchButton" iconClass="dijitIconSearch" showLabel="false" type="button" data-dojo-props="disabled:true">Search</button>
            </div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Top Parent Account Name" data-dojo-attach-point="topParentAccountName"></div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Top Parent Account Id" data-dojo-attach-point="topParAppId"></div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Sales Rep Id" data-dojo-attach-point="salesRepId"></div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Account Type" data-dojo-attach-point="accountType"></div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Crm User" data-dojo-attach-point="crmUser"></div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Account Manager" data-dojo-attach-point="accManager"></div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Bill Cycle" data-dojo-attach-point="billCycle"></div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Pay Type" data-dojo-attach-point="payType"></div>
            <div data-dojo-type="dijit/form/ValidationTextBox" title="Pay By App ID" data-dojo-attach-point="payByAppId"></div>
        </div>



    </div>

    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="searchAccDlg" title="Search Account" style="width:70%">
        <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="saveFolderForm">
            <div style="display: inline-block;padding-right: 20px">
                <label for="searchBy" style="padding-bottom:1px">Search By</label>
                <div data-dojo-type="dijit/form/FilteringSelect" title="Search By" data-dojo-attach-point="searchName" style="width: 200px" value="App ID" required>
                    <option value="App ID">App ID</option>
                    <option value="Customer Name">Customer Name</option>
                </div>
            </div>
            <div style="display: inline-block;position: relative;left:5px">
                <div style="display: inline-block;">
                    <label id="cp_searchLabel"><span data-dojo-attach-point="searchlabel">App ID:</span></label>
                    <div data-dojo-attach-point="cp_searchText" data-dojo-type="dijit/form/ValidationTextBox" style="width: 200px;display: inline-block;"> </div>
                </div>
                <div style="display: inline-block;padding-left: 20px;">
                    <label for="cp_searchText2" id="cp_searchLabel2"></label>
                    <div data-dojo-attach-point="cp_searchText2" data-dojo-type="dijit/form/ValidationTextBox" style="width: 200px;display:none"> </div>
                </div>
            </div>
            <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="searchBtn">Search</button>
            <label style="font-size: 12px;color: green;margin-top: 10px;">(Select an account by click on the
                cell)</label>
            <div data-dojo-attach-point="searchResDiv"> </div>
            <div style="text-align: center;margin-top: 10px;">
                <label style="font-weight: bold;display: inline-block;">Selected Account Id: </label>
                <div data-dojo-type="dijit/form/ValidationTextBox" title="Account Name" data-dojo-attach-point="selAccountId" style="width: 150px" disabled style="display: inline-block;">
                </div>
                <label style="font-weight: bold;display: inline-block;">Selected Account Type: </label>
                <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="selAccountType" title="Account Type" style="width: 150px" disabled>
                    <option value=" " selected>Select an Account</option>
                    <option value="accountId" selected>Current Account</option>
                    <option value="parentAccountId">Parent Account</option>
                    <option value="topParentAccountId">Top Parent</option>
                </div>
            </div>
            <div class="dijitDialogPaneActionBar" style="text-align:center">
                <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelSearchBtn" type="button">Cancel</button>
                <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="addBtn" data-dojo-props="disabled: true">Add</button>
            </div>
        </div>
    </div>


</div>