<div class="${baseClass}" style="height: 100%;width: 100%;">
	<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="colManagementForm" action="">
		<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:3,orientation:'vert',spacing:2,customClass:'ldesk-tbl'" data-dojo-attach-point="colManagementFormTable" style="height:302px">
			<div data-dojo-type="dijit/form/FilteringSelect" name="caseOwner" title="Case Owner<req>" data-dojo-attach-point="ownerId" data-dojo-props="searchAttr:'fullName',labelAttr:'fullName',labelType:'text'" required="true"></div>
			<div data-dojo-type="dijit/form/FilteringSelect" name="caseStatus" title="Case Status<req>" data-dojo-attach-point="status" data-dojo-props="searchAttr:'name',labelAttr:'name',labelType:'text'" required="true"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" name="Beginning Balance" title="Beginning Balance<req>" data-dojo-props="
					pattern: '^-?\\d+(\\.\\d{1,2})?$',
					required: true,
					invalidMessage: 'Enter a valid amount (e.g., -15067.74 or 12345.67)'
					" data-dojo-attach-point="beginningBal">
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" title="Follow-Up Date/Time" allowedTypes="I,Q,N">
				<div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="followUpDate1" title="Date" data-dojo-props="constraints:{min: new Date(),datePattern: 'yyyy-MM-dd'}" required="false"></div>
				<div data-dojo-type="dijit/form/TimeTextBox" data-dojo-attach-point="followUpTime1" data-dojo-props="constraints: {timePattern: 'HH:mm:ss', clickableIncrement: 'T00:15:00', visibleIncrement: 'T00:15:00', visibleRange: 'T01:00:00' }" required="false">
				</div>
			</div>
			<div data-dojo-type="dijit/form/ValidationTextBox" name="Past Due Amount(30 days)" title="Past Due Amount(30 days)<req>" data-dojo-props="
					pattern: '^-?\\d+(\\.\\d{1,2})?$',
					required: true,
					invalidMessage: 'Enter a valid amount (e.g., -15067.74 or 12345.67)'
					" data-dojo-attach-point="dueAmount30Days">
			</div>
			<div data-dojo-type="dijit/form/ValidationTextBox" name="Last Payment Amount" title="Last Payment Amount<req>" data-dojo-props="
					pattern: '^-?\\d+(\\.\\d{1,2})?$',
					required: true,
					invalidMessage: 'Enter a valid amount (e.g., -15067.74 or 12345.67)'
					" data-dojo-attach-point="lastPaymentAmt">
			</div>
			<div data-dojo-type="dijit/form/ValidationTextBox" name="Past Due Amount(60 days)" title="Past Due Amount(60 days)<req>" data-dojo-props="
					pattern: '^-?\\d+(\\.\\d{1,2})?$',
					required: true,
					invalidMessage: 'Enter a valid amount (e.g., -15067.74 or 12345.67)'
					" data-dojo-attach-point="dueAmount60Days">
			</div>
			<div type="text" name="Last Payment Date" title="Last Payment Date<req>" data-dojo-attach-point="lastPaymentDate" value="" data-dojo-type="dijit/form/DateTextBox" data-dojo-props="constraints:{min: new Date(),datePattern: 'yyyy-MM-dd'}" required="true"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" name="Total Balance" title="Total Balance<req>" data-dojo-props="
					pattern: '^-?\\d+(\\.\\d{1,2})?$',
					required: true,
					invalidMessage: 'Enter a valid amount (e.g., -15067.74 or 12345.67)'
					" data-dojo-attach-point="totalBalance">
			</div>
			<div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="denyDate" title="Deny Date" data-dojo-props="constraints:{min: new Date(),datePattern: 'yyyy-MM-dd'}" required="true"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" name="Promise To Pay Amount" title="Promise To Pay Amount" data-dojo-props="
          		pattern: '^-?\\d+(\\.\\d{1,2})?$',
          		required: false,
          		invalidMessage: 'Enter a valid amount (e.g., -15067.74 or 12345.67)'
       			" data-dojo-attach-point="promiseToPayAmt">
			</div>
			<div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="disconnectDate" title="Disconnect Date" data-dojo-props="constraints:{min: new Date(),datePattern: 'yyyy-MM-dd'}" required="true"></div>
			<div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="promiseToPayDate" title="Promise To Pay Date" data-dojo-props="constraints:{min: new Date(),datePattern: 'yyyy-MM-dd'}" required="false"></div>

			<div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="finalDemandDate" title="Final Demand Date" data-dojo-props="constraints:{min: new Date(),datePattern: 'yyyy-MM-dd'}" required="false"></div>

			<div data-dojo-type="dijit/form/FilteringSelect" name="Promise to Pay Terms" title="Promise to Pay Terms" data-dojo-attach-point="promiseToPayTerms" data-dojo-props="searchAttr:'name',labelAttr:'name',labelType:'text'" required="false"></div>
			<div data-dojo-type="dijit/form/ValidationTextBox" type="text" name="Cash Apps Ticket" title="Cash Apps Ticket" maxLength="10" data-dojo-attach-point="caseAppsTkt" required="false"></div>
		</div>

	</div>


</div>