<div class="${baseClass}">
	<div data-dojo-type="dijit/Fieldset" data-dojo-props="toggleable:false">
		<legend><b>Change History</b></legend>
		<div data-dojo-type="dojox.layout.TableContainer"
			data-dojo-props="cols:2, orientation:'horiz', spacing:3, customClass:'label-right'">
			<div data-dojo-type="dijit.form.TextBox" title="User Added By" data-dojo-attach-point="userAdded"
				data-dojo-props="disabled:true "></div>
			<div data-dojo-type="dijit.form.TextBox" title="Group Added By" data-dojo-attach-point="groupAdded"
				data-dojo-props="disabled:true "></div>
			<div data-dojo-type="dijit.form.TextBox" title="User Added On" data-dojo-attach-point="userAddedDate"
				data-dojo-props="disabled:true "></div>
			<div data-dojo-type="dijit.form.TextBox" title="Group Added On" data-dojo-attach-point="groupAddedDate"
				data-dojo-props="disabled:true "></div>
			<div data-dojo-type="dijit.form.TextBox" title="User Modified By" data-dojo-attach-point="userModified"
				data-dojo-props="disabled:true "></div>
			<div data-dojo-type="dijit.form.TextBox" title="Group Modified By" data-dojo-attach-point="groupModified"
				data-dojo-props="disabled:true "></div>
			<div data-dojo-type="dijit.form.TextBox" title="User Modified On" data-dojo-attach-point="userModifiedDate"
				data-dojo-props="disabled:true "></div>
			<div data-dojo-type="dijit.form.TextBox" title="Group Modified On"
				data-dojo-attach-point="groupModifiedDate" data-dojo-props="disabled:true "></div>
		</div>
	</div>
</div>