<div class="${baseClass}">
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="sendEmailDlg" title="Send Email" style="width:1000px;">
		<div class="dijitDialogPaneContentArea emailData">
			<div data-dojo-type="dijit/form/Form" data-dojo-attach-point="sendEmailForm">
				<div data-dojo-type="dojox.layout.TableContainer" data-dojo-props="cols:1,orientation:'vert',spacing:2,customClass:'ldesk-tbl'">
					<div data-dojo-type="dijit/form/TextBox" title="From:" data-dojo-attach-point="emailFrom" style="width: 250px; display: inline-block;" disabled></div>
					<div data-dojo-type="dijit/form/TextBox" title="Reply-To:" data-dojo-attach-point="emailReplyTo" style="width: 250px; display: inline-block;" disabled></div>
					<div data-dojo-type="app/view/ValidationTextarea" title="To:" rows=1 data-dojo-attach-point="emailTo" 
						data-dojo-props="intermediateChanges:true,regExp:this.lingoController.validateEmails(), invalidMessage:'Please enter valid comma-separated email addresses in `To` field.',
                		tooltipPosition:['after'],trim:true" required="true" style="width:90%;"></div>
					
					<div data-dojo-type="app/view/ValidationTextarea" title="Cc:" rows=1 data-dojo-attach-point="emailCc" 
						data-dojo-props="intermediateChanges:true,regExp:this.lingoController.validateEmails(), invalidMessage:'Please enter valid comma-separated email addresses in `Cc` field.',
                		tooltipPosition:['after'],trim:true" required="false" style="width:90%;"></div>
					<div data-dojo-type="app/view/ValidationTextarea" title="Subject" rows=2 data-dojo-attach-point="emailSub" data-dojo-props="disabled:true" required="true" style="width:90%; height:90%;"></div>
					<div class="emailData" title="Uploaded Files" data-dojo-attach-point="uploadedFileNamesPane" data-dojo-type="dijit/layout/ContentPane"></div>
					<div data-dojo-type="dijit/form/SimpleTextarea" title="Email" rows=10 data-dojo-attach-point="emailBody" aria-required="true" style="width:90%;"></div>
					<!-- Display previous email content -->
					<div data-dojo-type="dijit/layout/ContentPane" class="emailData" style="display: inline;padding: 0px" data-dojo-props="showLabels: false">
        				<label style="display: inline;font-weight: bold;padding-right: 10px;">Original Email</label> 
						<input id="includeOrgEmail_${caseId}" data-dojo-attach-point="includeOrgEmail" data-dojo-type="dijit/form/CheckBox" checked value="1" /> 
						<label for="includeOrgEmail_${caseId}" style="display: inline">Include</label> 
					</div>
					<!-- <div data-dojo-attach-point="previousEmailBody" data-dojo-type="dijit/layout/ContentPane"  data-dojo-props="showLabels: false" style="padding: 0px;width: 900px; height:225px; overflow-y: auto;"></div>	 -->
			</div>
			<div>
				<iframe style="padding: 0px;width: 900px; height:225px; overflow-y: auto;" innerHTML="" data-dojo-attach-point= "previousEmailBody"></iframe>
			</div>
		</div>
		<!-- Action Bar Section -->
		<div class="dijitDialogPaneActionBar" style="text-align:center;">
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="submitBtn">Submit</button>
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="uploadFileBtn">Upload File</button>
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="cancelBtn">Cancel</button>
		</div>
	</div>
</div>